[2013-07-23 07:22] drkibitz opened #1 "Took a look"
Hello @ncannasse, I took a look at the proto, and I think it's going in the right direction. My background is in design, and I hope you don't mind a little criticism. (it's kind of what we do).

The first and major piece, is the site branding. I would suggest going with **Haxe Foundation** for the main header bar, and then let "Haxe, The Cross-platform Toolkit" be the hero like it is now. This is

[2014-05-22 08:41] #1 closed, assigned to nobody

[2014-05-24 06:32] jasononeil opened #2 "Content for the "Games" use case"
If you have any content for the "games" use case page, please leave a comment here.

We are looking for:

* __Testimonials / Quotes__:  If you have used haxe for creating games and it has been awesome, leave a short 1 sentance quote, with your name, company and URL.
* __Showcase__: If you have a game you would like included in the showcase, please include the name of your game, an image for the ca

[2014-05-24 06:33] jasononeil opened #3 "Content for the "Web" use case"
If you have any content for the "web" use case page, please leave a comment here.

We are looking for:
- **Testimonials / Quotes**:  If you have used haxe for creating a website or web-app and it has been awesome, leave a short 1 sentance quote, with your name, company and URL.
- **Showcase**: If you have a website you would like included in the showcase, please include the name of your game, an i

[2014-05-24 06:34] jasononeil opened #4 "Content for the "Desktop Apps" use case"
If you have any content for the "desktop apps" use case page, please leave a comment here.

We are looking for:
- **Testimonials / Quotes**:  If you have used haxe for creating desktop apps and it has been awesome, leave a short 1 sentence quote, with your name, company and URL.
- **Showcase**: If you have an app you would like included in the showcase, please include the name of your app, an imag

[2014-05-24 06:34] jasononeil opened #5 "Content for the "Mobile Apps" use case"
If you have any content for the "mobile" use case page, please leave a comment here.

We are looking for:
- **Testimonials / Quotes**:  If you have used haxe for creating mobile apps and it has been awesome, leave a short 1 sentence quote, with your name, company and URL.
- **Showcase**: If you have an app you would like included in the showcase, please include the name of your app, an image for t

[2014-05-24 06:35] jasononeil opened #6 "Content for the "CLI" use case"
If you have any content for the "command line apps" use case page, please leave a comment here.

We are looking for:
- **Testimonials / Quotes**:  If you have used haxe for creating command line apps and it has been awesome, leave a short 1 sentence quote, with your name, company and URL.
- **Showcase**: If you have an app/tool you would like included in the showcase, please include the name of yo

[2014-05-24 06:36] jasononeil opened #7 "Content for the "Cross Platform APIs" use case"
If you have any content for the "cross platform APIs" use case page, please leave a comment here.

We are looking for:
- **Testimonials / Quotes**:  If you have used haxe for creating cross platform APIs and it has been awesome, leave a short 1 sentence quote, with your name, company and URL.
- **Showcase**: If you have an API example you would like included in the showcase, please include the nam

[2014-05-26 17:02] jon914 opened #17 "My name is spelled wrong"
Congrats on launching the new site!

I noticed that my name is spelled wrong in a few places. It's Jonathan, not Johnathan.

[2014-05-26 18:47] markknol opened #18 "The pages doesn't have metatags"
To make the website come up nicely in Google, and be shareable on Facebook/Twitter you should implement at least these metatags (in the `<head>`)

[code]

[2014-05-26 19:47] ncannasse opened #19 "Blank at bottom"
Only on this page if you scroll down you get a big white blank
http://haxe.org/use-cases/

[2014-05-26 20:06] ncannasse opened #20 "Measuring downloads"
We would like to measure the number of downloads, if possible through google analytics, I'm not sure what's the best option for this

[2014-05-26 21:05] nadako opened #21 "Nightly builds links."
It may be useful to provide links to nightly builds on the downloads page or some dedicated page.

[2014-05-26 21:16] Gama11 opened #22 "Not all URLs are links"
GitHub-flavored-markdown automatically turns URLs into clickable links, as in step 1 and 2 on [this page](https://github.com/HaxeFoundation/haxe.org/blob/c50947109b43e82a33f3eb5a529db712a9bb5850/www/website-content/pages/documentation/introduction/building-haxe.md#building-on-windows-msvc).

[On the actual site however](http://haxe.org/documentation/introduction/building-haxe.html), these are plai

[2014-05-26 21:30] ncannasse opened #24 "404 on homepage"
On the home "Read more about our Paid Support Plans, help support Haxe development by donating to the Haxe Foundation"

Support and Donate are going to / instead /foundation

[2014-05-26 21:57] ncannasse opened #25 "Another 404"
Release Notes for 3.1.3 references http://haxe.org/file/CHANGES.txt which no longer exists. Maybe redirect /file to old.haxe.org as well ?

[2014-05-26 22:00] ncannasse opened #26 "GitHub links"
We might want to add some more emphasis on GitHub:
- on /download page (currently link to release tag only, maybe add a "Sources" section)
- on http://haxe.org/foundation/open-source.html (link to HaxeFoundation Github account)

[2014-05-26 22:01] ncannasse opened #27 "Release Date"
This is not a priority, but maybe we could have tag dates on http://haxe.org/download/list/

[2014-05-26 22:02] ncannasse opened #28 "API open in same page"
Given that we loose the navigation bar, I think we should open api.haxe.org in another page/tab

[2014-05-26 22:11] Gama11 opened #29 "Special chars broken"
The ê in @waneck's name is broken on the [history page](http://haxe.org/manual/introduction-haxe-history.html):

![](http://i.imgur.com/syGjQn7.png)

Probably applies to other special chars too.

[2014-05-26 22:51] #24 closed, assigned to nobody

[2014-05-26 23:01] #22 closed, assigned to nobody

[2014-05-27 03:41] #25 closed, assigned to nobody

[2014-05-27 03:41] #28 closed, assigned to nobody

[2014-05-27 04:08] #19 closed, assigned to nobody

[2014-05-27 04:08] #17 closed, assigned to nobody

[2014-05-27 05:39] #29 closed, assigned to nobody

[2014-05-27 13:16] fortegames opened #31 "Wrong 'contact us' link"
On the front page in text "Feel free to contact us for any inquiry regarding Haxe usage."  , 'contact us' link lead to http://haxe.org/contact.html  and 404 error . Maybe correct one is  http://haxe.org/foundation/contact.html ?

[2014-05-27 20:52] markknol opened #32 "Code examples in try.haxe.org"
I copy/pasted some code examples to try.haxe.org, maybe we can create some "try it yourself"-buttons in the manual to it, so people can play around with it?

http://haxe.org/manual/lf-pattern-matching-enums.html
http://try.haxe.org/#F3bdC

http://haxe.org/manual/lf-pattern-matching-variable-capture.html
1. http://try.haxe.org/#e0769
2. http://try.haxe.org/#6cDE8

http://haxe.org/manual/lf-pattern-

[2014-05-27 21:00] #32 closed, assigned to nobody

[2014-05-27 21:16] Simn opened #33 "Add content for building from source on OSX/Linux"
https://github.com/HaxeFoundation/haxe.org/blob/master/www/website-content/pages/documentation/introduction/building-haxe.md

[2014-05-27 22:09] nadako opened #35 "Contribution tips."
I think we lack a good page on how one can contribute to Haxe, or at least I didn't find one.

I believe it deserves an individual menu item that links to a page listing what can be done i.e.
* Report issues (a link to https://github.com/HaxeFoundation/haxe/issues, short description on how to create useful issues)
* Fix existing issues and contribute new code. We currently have a short "buildiing

[2014-05-28 00:16] #18 closed, assigned to nobody

[2014-05-28 00:16] #31 closed, assigned to nobody

[2014-05-28 05:56] ncannasse opened #36 ""What they say about haxe""
A page on haxe.org listing various tweets about people who had a nice experience with Haxe, using tweeter widget. One example:
https://twitter.com/sashmackinnon/status/471411076211294208

It's like a lot of quotes in various contexts, but feel more "real"

[2014-05-28 13:40] frabbit opened #39 "how about integrating haxe.io as news/blog"
that would be great ;)

[2014-05-29 08:18] jasononeil opened #40 "Invalidate request cache after manual import"
After a fresh import of the manual any cached pages remain cached, so the updates cannot be seen.

[2014-05-29 08:32] jasononeil opened #41 "Github automation for Haxe website"
I'd like to work on this over the weekend, but have a few questions re: strategy.

With the manual, we have a Github hook set up so any "push" event will get the site to pull down the latest markdown content, convert it to HTML, and keep a copy for any requests to `/manual/*`

For the site, I do not want to fully automate this, as we have a mix of content and code/design - sometimes we may want to

[2014-05-29 08:41] jasononeil opened #42 "API Download link for 3.1.3 is not showing up"
It is on the download list: http://haxe.org/download/list/

But not on the page for 3.1.3: http://haxe.org/download/version/3.1.3/

Comparison to 3.1.0: http://haxe.org/download/version/3.1.0/

[2014-05-29 09:03] #42 closed, assigned to jasononeil

[2014-05-29 09:19] #40 closed, assigned to jasononeil

[2014-05-29 11:59] frabbit opened #43 "provide pdf manual on website"
it would be great to provide the manual as a downloadable pdf. It would be nice to generate a new pdf link (with date) whenever the manual has changed.

[2014-05-30 13:32] drkibitz opened #45 "Click for dropdown"
Having a click to open the dropdown menus for the site nav is a very clumsy interaction. Please change this to hover. And allow a click to propagate to the first item in the dropdown. Just to make sure It's not really a question of supporting touch devices either, it should be on hover for desktop, and remain on tap for devices.

[2014-05-31 09:59] frabbit opened #48 "improved build instructions"
I trying to get the website running locally, but the build instructions seems incomplete. I'm not 100% sure where to apply your tink_core version modification and i'm also getting

`src/Tasks.hx:3: characters 7-29 : Class not found : ufront.tasks.UFTaskSet`

when running `ufront b --debug`

[2014-06-02 03:17] #45 closed, assigned to nobody

[2014-06-02 08:33] lexoyo opened #50 "Who uses Haxe should go to community"
Hi

I believe that the page [Who uses Haxe](http://haxe.org/foundation/who-uses-haxe.html) should go to the menu "community" since it has nothing to do with the foundation - at least in some cases

[2014-06-02 10:26] frabbit opened #51 "Editors and IDEs should be more prominent"
`Documentation -> Introduction -> Editors and IDEs` is really hard to find, it should be either moved directly under Documentation or to a new section `tools` which could be added to the main navigation, see https://www.dartlang.org/ as an example.

[2014-06-04 06:20] jasononeil opened #53 "Don't break pages if invalid Html is used"
When importing a page (particularly from the manual) it is possible for there to be invalid HTML (or for markdown to produce invalid HTML).

Currently we parse this as XML on the server, and so when invalid (X)HTML fails to parse, we end up with a blank page.

Because we only manipulate the Xml to make cosmetic changes, a workaround could be to fall back to parsing the broken HTML direct to the br

[2014-06-04 06:53] Simn opened #54 "Contribute links"
Currently we generate contribution links with line numbers on the page. This causes a lot of files to change whenever a line is added or removed from the .tex.

We should instead generate this link during the HTML conversion, using the information from sections.txt.

[2014-06-05 09:58] Simn opened #57 "The dictionary is pretty messy"
Compare:

https://github.com/HaxeFoundation/HaxeManual/blob/master/md/manual/dictionary.md
http://haxe.org/manual/dictionary.html

It should be enough to add some margin between the individual paragraphs.

On that note, the HTML version does not allow anchor links like the markdown version does: https://github.com/HaxeFoundation/HaxeManual/blob/master/md/manual/dictionary.md#compiler-flag

These a

[2014-06-06 22:47] #50 closed, assigned to nobody

[2014-06-06 23:10] #54 closed, assigned to jasononeil

[2014-06-06 23:54] #53 closed, assigned to jasononeil

[2014-06-06 23:59] #48 closed, assigned to nobody

[2014-06-07 01:05] #57 closed, assigned to nobody

[2014-06-07 03:53] #27 closed, assigned to nobody

[2014-06-07 04:06] jasononeil opened #58 "Link to nightly builds"
I would for the "download" link in the menu to remain a plain button, not a dropdown.  So maybe at the top of the download list page?

[2014-06-17 04:18] Laosj opened #61 "Can replace some files off Google references.."
Can replace some files off Google references, because every time you open a Web site very slow

Started a few days ago, our County has not open Google

![1](https://cloud.githubusercontent.com/assets/7479482/3296233/4aad8b2a-f5d6-11e3-9e0d-ad454792fccd.png)

[2014-06-30 05:19] #58 closed, assigned to nobody

[2014-06-30 06:43] jasononeil opened #66 "Some redirects for SEO"
Many Haxe related google searches are pointing to "old.haxe.org/*" addresses.  This is probably because I did a blanket redirect for most of the pages on the old site, and any SEO reputation (inbound links etc) is being applied to the redirected URL, even if better content exists on the new site.

I'm going through now and creating some specific redirects from old link addresses to new addresses,

[2014-07-04 14:26] nadako opened #67 "api.haxe.org is not up to date"
API docs are not up-to-date with Haxe 3.1.3 which is the latest Haxe release.

For example this page http://api.haxe.org/haxe/Json.html doesn't mention the new Json.stringify `space` argument.

More on that, it would be nice if API doc specified the Haxe version used to build that doc.

[2014-07-06 09:25] Simn opened #68 "Avast vs. windows installer"
I've heard from several people that there are issues downloading the Haxe Windows installer when avast is running.

[2014-07-23 13:10] kvisscher opened #69 "Invalid link in documentation"
On this page: http://api.haxe.org/haxe/io/Input.html there is a link to SocketInput, but this class does not seem to exists any longer. Link is: http://api.haxe.org/sys/net/_Socket/SocketInput.html

[2014-07-23 13:12] #69 closed, assigned to nobody

[2014-09-16 18:44] waneck opened #75 "Add manual installation instructions"
This is just so I don't forget about it; I'll handle it.

[2014-09-24 09:49] ncannasse opened #76 "Download page reference to automatic builds"
At the bottom of the Download page (or before release notes ?) we should mention that the latest Haxe GIT versions are available on http://build.haxe.org

[2014-09-25 15:30] Simn opened #77 "Avira trojan warning"
Email I received:

[code]

[2014-09-30 12:46] nadako opened #78 "A taste of Haxe doesnt look very sweet"
On the main page, the `A taste of Haxe` section looks quite bad (at least for me):
![screenshot](http://take.ms/5QplA)

IIRC this was different, i.e. shorters tabs and syntax highlighting.

[2014-10-06 10:01] #78 closed, assigned to nobody

[2014-10-08 17:45] boozook opened #79 "[manual] need Target-details"
This [part of manual](http://haxe.org/manual/target-details.html) is empty. Need details for every target:
1. for targets like Java via hxjava or C++ via hxcpp;
2. for targets-combos via big frameworks like Lime, (OpenFL), Snõwkit, Kha;

[2014-10-08 18:10] #79 closed, assigned to nobody

[2014-12-02 11:10] grisevg opened #83 "Constant URL for latest stable haxe binaries."
Hi,

It would be very useful to have url that always points to the latest stable haxe binaries (a separate one for each platform), so automated scripts (e.g. chef) could get and install it.

I know that http://builds.haxe.org/ has a constant link to latest nightly build, but there is no link to latest stable one.

Thank you

[2014-12-11 14:24] Simn opened #84 "Linux download instructions"
https://github.com/HaxeFoundation/haxe/issues/3662

[2014-12-11 14:26] #67 closed, assigned to nobody

[2014-12-11 14:26] #68 closed, assigned to nobody

[2014-12-11 14:27] #84 closed, assigned to nobody

[2014-12-11 14:32] #33 closed, assigned to nobody

[2014-12-11 14:32] #76 closed, assigned to nobody

[2014-12-12 10:15] #66 closed, assigned to nobody

[2014-12-18 17:28] #20 closed, assigned to nobody

[2015-01-05 03:19] lostfictions commented on #75
I'm here by way of HaxeFoundation/haxe#3662. Pretty baffling to download a binary version of Haxe and have it complain about missing shared libraries. (Especially when the alternatives on Ubuntu are a badly-out-of-date package or a broken PPA.)

I ended up building from source, but I think for a lot of potential users that's kind of saying "I don't want you to use this software."

[2015-01-06 17:29] Antoine-Lassauzay commented on #35
Some good ideas in there : https://github.com/pengwynn/flint

[2015-01-09 07:33] Faba-network commented on #3
**Showcase**: http://shirtshop.landwirtschaft.ch/ Swiss "HTML5" Webshop. Frontend (js), backend (nodejs) and admin (js) build with Haxe.

[2015-02-07 19:13] explorigin opened #91 "API Documentation is not for the released version"
I'm a newcomer to Haxe and was trying to create a JSGenerator to suit my needs but I found that some API elements listed on the website are not available in the released stable version of Haxe.  Namely:

 - JSGenApi.hasFeature() (does not exist in 3.1.3)
 - Context.defined() (does not exist in 3.1.3 but is actually Context.getDefines() in the haxe master branch)

[2015-02-07 19:19] Simn commented on #91
Surely Context.defined is available in 3.1.3.

But yeah it's an issue for which we don't have a good solution.

[2015-02-22 09:25] damoebius commented on #3
Showcase: http://heidi-module-personnalisation.com/demo/8-coussin.html
Heidi is a product personalization cloud service. Composed of two parts, a Saas backend and webapp, the webapp, plus mobile components are powered by Haxe with the Saas backend written in C#.
preview : http://happy-technologies.com/wp-content/uploads/2014/09/module_heidi.png

[2015-02-23 18:08] Merelleya opened #96 "Who is Who"
Hi there,

I would like to add a "Who is Who" page to the website. The page should contain the names, photos and a brief description of responsibilities for the lead developers and target maintainers.

The idea is to show that there are actual people behind Haxe and the Foundation. It would look more professional and make it easier for new people to find their way around and relate to the product.

[2015-02-23 18:45] Merelleya commented on #36
Ok, so what about this topic?

Maybe we should revamp this into testimonials and then get some statements from people who have worked with haxe. We can also dig out the Tweets and quote them.

Another idea would be a project feature page where we can feature projects that were realized with haxe, plus a short article/interview and some statements. (a little more feature like than the use-cases).

[2015-02-23 18:57] Merelleya commented on #39
Just a quick note on blogs and fresh content.

Having new blog-like content is still very important for any website. It's not that it's not worth it anymore, it's just a lot of work. But, if you are willing to put in the hours needed for nice features and posts, the payoff is definitely there.

I would love to have the roundups featured more prominently and lately (since the announcement of wwx 20

[2015-02-23 19:21] Simn commented on #39
I'm still against a twitter box. We should avoid fragmentation of possible news sources and there's always the problem of quality control. The content work @skial is doing is invaluable and I don't want to taint it with what the peasants have to say on twitter. :)

[2015-02-23 20:03] fponticelli commented on #96
For what is worth I don't mind making all of my info public :)

[2015-02-23 20:06] ncannasse commented on #39
I actually setup twitter https://twitter.com/haxe_org for this purpose, which is to provide an important-news-only account for important events. We could have have someone taking care of it with that in mind (vs https://twitter.com/haxelang which is more community-oriented), posting important announcements as well as Skial weekly roundups

[2015-02-23 20:14] Merelleya commented on #39
I am happy to deal with the twitter account, however, I think It would still be good to feature it on the website, seeing as that is the place you refer people to who are "looking" at Haxe for the first time. Also, twitter is very short-lived and retrieving information is tedious. I think it's very important to have a place where you can store information more "permanently" and later go back and l

[2015-02-23 20:22] ncannasse commented on #96
Fine with me, I agree it looks more professional if there's something like a whole team behind it ;)

[2015-02-23 20:34] Simn opened #97 "Issues when building"
I tried to build the current version following the README instructions today, using current Haxe. First issue I came across was this:

[code]

This was easy enough to fix by adding `case _: null;`, but after that I ran into another issue:

[code]

The file has some documentation on that error:

[code]

However, the import is there in app/Api.hx. I tried adding one to Server.hx as well but that did

[2015-02-23 20:56] Simn commented on #97
Argh, it works with 3.1.3.

[2015-02-23 21:19] Simn commented on #97
I bisected the breaking Haxe commit to this: https://github.com/HaxeFoundation/haxe/commit/2dfa

I checked detox to find quite of a bit of places that use a pattern `try Context.getType() catch(e:Dynamic) {}`. This might actually be a case where we should fix the documentation, not the implementation.

@ncannasse: Any opinions?

[2015-02-23 22:09] Simn commented on #91
Starting from 3.2 we'll do it like this:

api.haxe.org: latest stable
api.haxe.org/v/dev: latest development (whenever I feel like updating it)
api.haxe.org/v/3.2: specific version

[2015-02-23 22:16] Simn commented on #35
I've written a short filing-issues overview here: https://github.com/HaxeFoundation/haxe/wiki/Filing-Issues-checklist

[2015-02-23 22:18] Simn commented on #26
Both are done.

[2015-02-23 22:18] #26 closed

[2015-02-23 22:27] Simn commented on #21
Sorry for ranting but issues like this being open for 9 months make me quite sad. We really need someone who feels responsible for this repository and the website in general.

If @jasononeil only wants to deal with the technical side of things that's fine with me, I just need to know. I can "take over" the main maintenance of this repository now that I have @Merelleya to assist me content-wise.

O

[2015-02-23 22:38] Simn commented on #83
We'll need one link for each download. We should follow the names that builds.haxe.org uses and make it available as `http://haxe.org/download/latest/windows`, `http://haxe.org/download/linux64` etc.

@jasononeil: Can you set this up?

[2015-02-23 22:39] Simn commented on #77
I don't feel brave enough to try that for 3.2, but we should look into this problem afterwards if it still exists.

[2015-02-23 22:40] Simn commented on #61
Is this still an issue?

[2015-02-23 22:41] waneck commented on #77
I think there's a problem with haxelib selfupdate and running haxelib through `haxe --run` - that's why it's using the neko interface atm.

[2015-02-23 22:42] Simn commented on #51
I think this is fine as it is. It's not like IDEs are our strong point and while I don't suggest explicitly hiding information about them, I also don't think it makes much sense to make it more prominent.

[2015-02-23 22:42] #51 closed

[2015-02-23 22:43] Simn commented on #43
The link is there which is fine for me. We can make it more prominent later once the thing actually looks like a proper PDF.

[2015-02-23 22:43] #43 closed

[2015-02-23 22:45] explorigin commented on #91
That's perfect.

[2015-02-23 22:45] Simn commented on #41
Let's not make this too complicated. I figured out how to run the website locally so I don't think a separate staging branch is necessary.

[2015-02-23 22:45] #41 closed

[2015-02-24 00:49] nadako commented on #96
Sounds good, now I only need to find a good picture of myself. :-P

[2015-02-24 00:59] hughsando commented on #96
Fine with me - I should see if I can find an updated photo - that one is so
old I could use it on a dating site.

On Tue, Feb 24, 2015 at 8:49 AM, Dan Korostelev <notifications@github.com>
wrote:

[2015-02-24 09:55] skial commented on #39
I don't think you need to officially endorse the roundups, haxe.io is already linked to so thats enough of an endorsement I feel. I wouldn't turn down a more prominent link :smile:.

If you decide to have a twitter box it might be better to show a curated list of tweets instead of just #haxe which receives quite a bit of spam.

I currently keep an eye on the following search `#haxe OR #openfl OR #

[2015-02-24 10:01] Simn commented on #39
I'd be okay with a twitter box for some managed account like `haxe_org` if someone actually posts there. That's the thing though: we (as in the Haxe Foundation) don't usually have much news to share. This makes the whole thing seem rather inactive.

[2015-02-24 14:06] Merelleya opened #98 "Testimonial from Dan Hett Re: His Art Installation powered with Haxe"
I have received the following statement from Dan and we do have permission to quote him, I am just not sure where to put it.

"my whole public speaking deal at the moment is about rapid prototyping and experimentation and things haxe works really well for this the whole reason I chose haxe was that A) it's quick and B) we had no idea what platform we were going to be deploying on this could have e

[2015-02-24 17:22] Merelleya commented on #98
To further elaborate, what the installation is about:

"Secondly, and this is bigger - I've been using Haxe as a base for a large scale installation project that I'm building for a gallery here in the UK. We're putting together a physical machine that will allow users to log into a website, send a message, and the message will be beautifully formatted and printed out in the gallery (and streamed o

[2015-02-24 17:47] Simn commented on #98
This is a very interesting project because it highlights several use-cases of Haxe at once (and sounds really cool in general to boot). That's the problem with our use-case grouping on haxe.org though: I wouldn't even know where to put it.

I think we should introduce our own showcase page where we go into detail for certain projects. Add some nice pictures or even a video and describe how Haxe he

[2015-02-24 19:39] ncannasse commented on #97
I would surely avoid to have silent errors in Context.getType

[2015-02-24 19:41] ncannasse commented on #21
@jasononeil could you connect with @Simn so he can publish updates on haxe.org ?
(@Simn ; @jasononeil is currently focusing on updating lib.haxe.org)

[2015-02-24 19:44] waneck commented on #97
I've also ran into problems because of that null already. Got one of those
dreadful Interp.Invalid_expr error

[2015-02-24 19:44] ncannasse commented on #77
If you wish me to get a certificate so we can sign our installer, tell me.

[2015-02-24 19:45] ncannasse commented on #51
Maybe we should promote a bit more IntelliJ plugin, I'll contact TiVo regarding this

[2015-02-24 19:48] Simn commented on #21
Ehm, that's good to know. I was looking at lib.haxe.org today and felt the need to do something. After consulting @markknol he sent me a quick suggestion for a change: http://i.snag.gy/GKckS.jpg

I had actually planned to just replace the template and css files once it looks good but if that's already taken care of I'll sit back and wait.

[2015-02-24 19:49] Simn commented on #51
They seemed a bit frustrated with it so we might want to hold back on that. I'm trying to provide some support for Boyan to fix some of the outstanding issues.

[2015-02-24 19:50] Simn commented on #97
I have no idea what happened there. It was me who originally documented that so I was probably just being sloppy, and then thought it was defined like this.

Anyway, it's fixed.

[2015-02-24 19:50] #97 closed

[2015-02-24 20:53] ncannasse commented on #98
@Simn agreed, that's more like a "magazine" content, big picture, big typo, good feelings. We might want to have this, but we need someone to write it. @Merelleya is volunteering maybe ?

[2015-02-24 21:00] Merelleya commented on #98
If I am not volunteering I don't know what I am doing ^^. Naw, seriously. I would love to have that section and thus, will do my utmost to write content for it. I like nice pictures and good feelings. Also I think it's important to have more visual content people can relate to. It also helps promotion, because we will not only be able to tell people why we are using Haxe, but also why other people

[2015-02-24 21:03] ncannasse commented on #21
Looks nice ! let's have @jasononeil and @markknol work together on this !

[2015-02-24 21:41] ncannasse commented on #36
After looking at it, they are not much in line with the professional aspect of the current haxe.org, so droping the idea for now. If we want to do something about it, more in-depth testimonials/interviews (magazine format) would be a lot better.

[2015-02-24 21:41] #36 closed

[2015-02-24 22:23] jasononeil commented on #41
This is actually done already.  A commit to master gets built and deployed
from Travis.

On Tue, Feb 24, 2015 at 6:45 AM, Simon Krajewski <notifications@github.com>
wrote:

[2015-02-24 22:24] Simn commented on #41
Aaah awesome! Thanks a lot for this, now it's much more fun to actually change something. :)

[2015-02-24 22:30] jasononeil commented on #41
No worries, I got it working about a couple of weeks ago but wanted to see
how it performed with accepting pull requests etc before making any noise
about it.

It seems to be fine:

https://travis-ci.org/HaxeFoundation/haxe.org

On Wed, Feb 25, 2015 at 6:24 AM, Simon Krajewski <notifications@github.com>
wrote:

[2015-02-24 22:40] jasononeil commented on #21
Re: haxelib - That's pretty similar to what I'm doing.  I'll try upload a test site later today.  Would be great to get your feedback @markknol

Re: updates - Any commit to "master" on HaxeFoundation/haxe.org will now be automatically deployed to the website (via Travis).  Anything that is more than a simple content change should be run locally to test it out first.  Looks like @Simn was able to f

[2015-02-24 22:46] Simn commented on #21
Semantically it makes a lot of sense to put it there because the flow is old <- > new, and nightly builds are the newest.

There should also be a link at http://haxe.org/download/list/. It should be fine to put that at the top there (not in the list itself).

[2015-02-24 22:54] jasononeil commented on #39
Last update on @ haxe_org was July 29, so there would need to be some new content.  Even just retweeting the haxe.io links each week, plus release announcements and event news?

Adding the twitter box is dead easy.  The code is:

[code]

The next question is, where to put it?  In terms of homepage sections, I'm thinking:

* Logo + Download links
* Platforms | Quote
* __News Highlight | Twitter__
*

[2015-02-24 23:01] ncannasse commented on #21
works for me too

[2015-02-24 23:17] #21 closed

[2015-02-24 23:24] jasononeil commented on #21
In response to the rant:  it's a fair judgement.  Something that's only 10 minutes work shouldn't take that 9 months to fix.  It would be wise for someone else to be the content king for the website - @Simn if you and @Merelleya are eager I think you would be the most qualified for both the technical content and the marketing content.

Now that Travis is working for deployments it should make thin

[2015-02-24 23:59] jasononeil commented on #61
The files are still hosted on 3rd party servers, including Google.

I've started trying to fix it.  Moving the Google search script to the bottom is breaking stuff at the moment but I'm sure it's fixeable.

Currently I'm loading most of our assets (jQuery, Bootstrap, Fonts, Icons) from CDNs... should I just move them all onto our server in case the others start getting blocked too?

[2015-02-25 00:27] markknol commented on #21
@jasononeil  Ah so we both redesign haxelib? Atm, mine now looks+works like this
![haxelib](https://cloud.githubusercontent.com/assets/576184/6362345/642d4dc4-bc8c-11e4-99a7-4a9932be6128.gif)

Some things
 * The profile page; I use gravatar images using the emailadress field to give bit of personality
 * The project pages try to check if link is github, and then [displays star/fork buttons](https:

[2015-02-25 00:35] jasononeil commented on #83
If we can guarantee that our download files will follow the same naming convention into the future, then this should be easy enough.

Currently the names are like:

[code]

See [3.1.3](https://github.com/HaxeFoundation/haxe.org/tree/master/www/website-content/downloads/3%2C1%2C3/downloads) and [3.1.2](https://github.com/HaxeFoundation/haxe.org/tree/master/www/website-content/downloads/3%2C1%2C2/do

[2015-02-25 01:04] jasononeil commented on #96
Good idea!

Are you imagining one page with everyone on it, or a page devoted to each person?  I can get started on a template for it if it helps :)

[2015-02-25 01:20] jasononeil commented on #98
What if we add a "Features" or "Articles" or "Blog" section.  It allows putting in big pictures, highlighted quotes, etc.

The most recent one could be linked to on the front page, as I mentioned here: https://github.com/HaxeFoundation/haxe.org/issues/39#issuecomment-75865243

I think we would need at least one feature a month to avoid it looking stale.  @Merelleya maybe if we can discuss what wri

[2015-02-25 01:22] jasononeil commented on #21
Nice, I like the use of gravatar and github stats.

Have you got any of this content online yet?

On Wed, Feb 25, 2015 at 8:27 AM, Mark Knol <notifications@github.com> wrote:

[2015-02-25 01:22] jasononeil commented on #21
(Or at least the HTML templates).  I might try steal the profile page
especially I might steal :)

On Wed, Feb 25, 2015 at 9:21 AM, Jason O'Neil <jason.oneil@gmail.com> wrote:

[2015-02-25 08:58] markknol commented on #21
I don't have them online, but I can create a branch tonight so you can check it out. I'd like to help you.

[2015-02-25 10:02] Simn commented on #21
This looks really good, please get this live ASAP. :)

[2015-02-25 10:05] Simn commented on #83
I'm fine with keeping file name conventions. They are generated by the release helper script anyway: https://github.com/waneck/hxbuilds/blob/master/release-helper/src/Release.hx#L15

[2015-02-25 11:02] Merelleya commented on #98
I'll make an overall plan for both the website and the social media pages and then we can see how much we will need. I agree, there should be at least one feature a month, but it also depends on the kinds of projects available and how the people we want to feature cooperate.

Layout-wise, the normal online magazine layout is one column, with pictures (stretching the whole or half column) and highl

[2015-02-25 11:04] Merelleya commented on #96
One page with everyone on it. Just one or two sentences per person (like "Caue Waneck - Caue maintains both the Java and C# targets and....") and a small picture will be enough. We can still do features on them if we feel it is necessary xD. For now, Short and concise will do.

[2015-02-25 11:09] Simn commented on #96
I would just go for:

Picture
Name
Role

Where Role is something very short like "C# and Java targets", "Webmaster" or "The only person who doesn't like short lambdas". :)

[2015-02-25 11:28] Simn commented on #41
@jasononeil: I just checked the deployment through travis, it's really nice!

Do you think you could help getting the same done for our API docs? Our travis already builds a .zip from with the latest documentation here: https://travis-ci.org/HaxeFoundation/haxe/jobs/52106094#L618

The idea is to automatically sync that to http://api.haxe.org/v/dev/ so we always have the latest documentation there.

[2015-02-25 12:50] Simn opened #100 "test"
nothing to see here

[2015-02-25 12:51] #100 closed

[2015-02-25 17:08] Merelleya commented on #39
so we can agree on the following:

* We will implement a News box on the front page
* That box will be fed with the Roundups, our Showcases and our News Posts
* It will display something like title-summary-link-maybe picture
* Showcases and News posts differ in that the Showcases are basically human interest stories and the News shorter announcements about WWX, releases, new partners, etc.
* we mi

[2015-02-25 17:17] Merelleya opened #101 "Showcase Section - Layout, Technical Implementation, Workflow"
Let's move the general discussion about how we want the showcase section to look and where it should be displayed to this issue and leave #98 for the Article about Dan Hett.

Quick Summary

* We agree to have a Showcase
* We are discussing layout
* We will aim for one showcase a month

The layout:
* should support pictures and videos
* should support highlighted quotes
* descriptions or comment te

[2015-02-25 17:18] Merelleya commented on #98
General discussion moved to #101

[2015-02-25 21:02] ncannasse commented on #61
@jasononeil yes i've add similar issues with google CDN before that, better host them ourself

[2015-02-25 21:11] ncannasse commented on #21
Regarding the new haxelib website : could we have a home similar to http://opam.ocaml.org/ that explains how to install libraries and how to package one as well ? (+ most downloads libs, etc.)

[2015-02-25 21:18] ncannasse commented on #100
That's an interesting way to raise your closed issues statistics, hope you won't bill time for that :-)

[2015-02-25 21:27] markknol commented on #21
Hi Nicolas, I've send my templates to Jason :smile:  :boom:

I've put a small line on every projectpage that also explains how to install in one sentence.

![small-note](https://cloud.githubusercontent.com/assets/576184/6380829/c9265954-bd3c-11e4-8394-6e0a00e0f406.PNG)

In my template files it links to  [this page](http://haxe.org/manual/haxelib-using.html)  I recently wrote for the manual, maybe

[2015-02-25 21:28] ncannasse commented on #101
I'm fine with using a third party blog system for these, and link them from haxe.org.
For instance i find medium.com to be a nice way to read such formats

[2015-02-25 21:38] Simn commented on #21
Looks good, I like that blue arrow in particular. :)

[2015-02-25 21:38] markknol commented on #61
It is an idea to create a static.haxe.org and put all stuff there, to have the same static resources available across the websites (lib.haxe.org, api.haxe.org, haxe.org, try.haxe.org etc ..)

[2015-02-25 21:40] markknol commented on #21
It should animate too.

[2015-02-25 22:06] nadako commented on #21
How about we render a `README.md` or something there? Like npm does.

[2015-02-25 22:16] markknol commented on #21
That is a good suggestion to add, when the project links to a github page (not always the case, since you can fill in whatever for the website field)

[2015-02-25 22:28] markknol commented on #35
@Simn. Wouldnt it be an idea to put that wiki content (also) into a CONTIBUTING.md file? This is picked up [like this](https://github.com/pengwynn/flint/issues/new) (see tooltip message)

[2015-02-25 22:29] Simn commented on #35
Oh nice, I wasn't aware of that.

[2015-02-25 22:40] nadako commented on #35
How nice! Good idea!

[2015-02-25 22:40] markknol commented on #35
It's in https://github.com/HaxeFoundation/haxe/pull/3918

[2015-02-26 10:32] Simn commented on #101
I would prefer if we use a Haxe-based solution instead. I can train @Merelleya to use some markdown which should really be enough to get nicely formatted one-column articles.

[2015-02-26 11:23] markknol commented on #101
You could look on how haxe.io loads its content, thats also a blog that uses markdown.

[2015-02-26 11:33] skial commented on #101
I wouldn't, its still broken at the moment. _If_ you want to know how it used to work you can [read](https://github.com/skial/haxe.io/issues/97) the long explanation over in the haxe.io issues.

:+1: for haxe.org news content being markdown based.

[2015-02-26 12:44] Simn commented on #101
Let's not overthink this, we already support displaying markdown. In fact, the entire manual displaying is based on markdown.

All we need is a view without side-bar and a few convenience CSS classes for floating text around an image with some sensible margin.

@jasononeil: I remember that you said something about the markdown library not supporting something, but I don't recall any details. Is th

[2015-02-26 13:15] jasononeil commented on #101
We could do Markdown easily enough, especially if @Merelleya is the main content editor and @Simn is able to help as needed.

I'm not sure which limitation I mentioned.  One that comes to mind is an issue with Markdown itself, rather than haxe-markdown: It has no built-in function to give a paragraph a specific CSS class, like `<blockquote class='pullout-quote'>` or similar.  You could just slot s

[2015-02-26 22:46] Simn commented on #101
We want to promote Haxe for web which isn't off to a good start if our own page doesn't use it for something relatively simple such as this.

You are right about the cropping/resizing, but I agree it can be done offline easily enough. I'm more concerned about getting some preview going locally.

[2015-02-26 22:52] Merelleya commented on #101
Yeah. I will definitely need a preview function. There will be hell otherwise. Ideally the preview would even be shareable....

[2015-02-26 22:53] Simn commented on #101
print screen + upload is very shareable...

[2015-02-26 22:54] markknol commented on #101
The (=this) comment-box of Github supports drag-drop of images very nicely, it one could build such that would be awesome. With a preview.

[2015-02-26 22:57] Simn commented on #77
I'm too stingy to suggest spending money on that. Let's just get big enough to the point where they can no longer ignore us. :)

[2015-02-27 09:02] Simn commented on #101
Another nice thing to have would be translations. At least for the languages where English tends to be a problem: Spanish, French, Russian, Japanese. If we don't make these articles too wordy I'm sure we can find people in the community to help with that and then have some flags at the top of the articles.

[2015-02-27 09:41] Merelleya commented on #101
I am aiming for 800 to 1000 words. Anything else is very long to read on a a web page (I dealt with a 2500 word article the other day and found it extremely long). I can translate to Spanish myself. It won't be perfect but good enough, I hope. I am very much for translation into Russian since we have a big Russian community we never hear from due to language barriers. Russian speakers are actually

[2015-02-27 09:42] Merelleya commented on #101
If we look at location and not language, Russia is on the second place directly after the US.

[2015-02-27 12:18] Simn commented on #101
Maybe @nadako could help with the Russian translations?

[2015-02-27 20:33] ncannasse commented on #77
@Simn sadly I don't think it will work

[2015-02-27 20:33] ncannasse commented on #77
Even the bigger companies happen to be reported as false positive, hence the code signing (and it's not very expensive)

[2015-02-28 00:40] jasononeil commented on #101
Fair point, and we certainly can achieve this kind of thing in Haxe, it's more a question of spending time on it vs using an off the shelf solution.  After I've finished working on the haxelib site I'll do a quick test to see if we can have a relatively elegant writing process in front-end Haxe/JS with integrated image uploads etc.  Shouldn't be too much work, but I can spend an afternoon finding

[2015-02-28 00:48] jasononeil opened #103 "Automatic alerts for server responsiveness."
See https://github.com/HaxeFoundation/haxe/issues/3919#issuecomment-76138660

I personally use Rackspace hosting and they have an integrated uptime monitoring service.  So I'm not familiar with what else is on the market.

I know there's services like https://www.pingdom.com/pricing/ but not sure what else exists on the market.  Any recommendations?

Or we could do a simple hand-made test and just

[2015-02-28 10:38] jasononeil commented on #41
Yeah for sure - can you create a new issue and assign it to me?

Basically the process will be:

   - Generate a RSA key, and encrypt it in a way that Travis can decrypt.
   I followed the instructions here:

   http://pghalliday.com/github/ssh/travis-ci/2014/09/19/auto-build-and-deploy-github-pages-with-travis-ci.html

   though I think I simplified it a little bit.

   - Make sure that key is in

[2015-02-28 10:50] ncannasse commented on #101
I think that's quite a waste of time to implement our own blog system, with correct editing, all the media features correctly tuned (facebook, twitter, keywords generation etc.) and mobile steaming of pictures (needs resizing etc.), I'm quite sure we would not get that right in the first place, so why not using something that works well and is maintained by someone else ?

Also, I think hosting on

[2015-02-28 11:02] Simn commented on #101
Isn't that just deception? "We" write these articles so there's no point in trying to hide that fact. In general I like to be very honest about Haxe and I have no problem pointing out what I consider its weaknesses. I also believe a "Things we could improve upon" article would be received very positively.

As for the blog system: I agree for the moment. I really just want to have some markdown fil

[2015-02-28 11:08] Simn opened #104 "API docs automation"
see https://github.com/HaxeFoundation/haxe.org/issues/41#issuecomment-76520858

Not a 3.2 priority, but having it shortly after that would be awesome!

[2015-02-28 12:33] markknol commented on #41
Maybe if we are doing such stuff, it can also install a latest haxe version for try.haxe so we can test code on the latest dev and release version?

[2015-02-28 16:19] Simn opened #105 "Consistent header layout across all sub-domains"
I would like to have a somewhat consistent header design across all our sub-domains. What I imagine is that the top-left looks like this:

HaxeLogo >> SubDomainLogo

The >> should indicate that we are one level "below" main haxe.org. I'm not sure how exactly that should look but we can figure something out.

Then the HaxeLogo can always link back to haxe.org while the SubDomainLogo links to lib.ha

[2015-02-28 16:24] jasononeil commented on #105
:+1:

[2015-02-28 16:29] jasononeil commented on #41
@markknol I would love to see that.  Especially if you could test a piece of code and show that it works on one version but not on another version.

I don't know much about the try.haxe infrastructure though... if you know how to run two versions side by side (in different directories or subdomains) I could help with the Travis / SSH deployment stuff.

[2015-02-28 20:51] ncannasse commented on #101
@Simn all marketing can be seen as some kind of deception, since you're purposely trying to put forward your strong points. I have no problem pointing weaknesses as well, but only when people are already quite interested in it. You don't start by presenting your weaknesses first for instance

[2015-02-28 21:01] ncannasse commented on #105
fine for me, although we maybe don't want a subdomain "logo" (two images side by side) but simply the "text" for it , like   (Haxe Log) API  or  (Haxe Log) Try

[2015-02-28 22:32] markknol commented on #105
if we use the logo, then a orange or gray rectangle (from top to bottom in header bar) with the subsection word in it, that can look already great. Maybe with a subtle detail in it, if I can find some time I might want to design this.

[2015-03-02 12:44] Merelleya commented on #101
Here are some notes on my editing/writing workflow. I am currently prepping the TiVo Showcase and an Article about Jonas Nyström and his sheet-music project.

https://docs.google.com/document/d/1L34Npalgm3SIKdXiSCISWQLVkLhjmNUr-QwtcevVgoY/edit?usp=sharing

Generally, prepping takes the longest, depending on how much content there is to review. Also, if communication is slow, it may take longer tha

[2015-03-02 16:48] Merelleya opened #106 "Include Proletariat Logos"
Hi there,

Here are two Logo Versions from our new partner, Proletariat, Inc.

Would you mind including them with the current partner logos?

Thanks!
![proletariatlogo_banner](https://cloud.githubusercontent.com/assets/5541210/6445453/425b4c06-c104-11e4-9423-f4a923bdf819.png)
![proletariatlogo_onlyp_red](https://cloud.githubusercontent.com/assets/5541210/6445452/425b41a2-c104-11e4-9386-08914d525c1

[2015-03-02 16:49] Simn commented on #106
One of them that is.

[2015-03-02 20:42] Merelleya commented on #106
It should go in the "supporters" section.

[2015-03-13 21:41] Merelleya commented on #35
Is this sorted now or are we still in progress?

[2015-03-13 21:42] Simn commented on #35
It's good enough. Not like anyone reads these things but at least we tried.

[2015-03-13 21:42] #35 closed

[2015-03-13 21:44] Merelleya commented on #96
Ok, can I please get your pictures?

@ncannasse
@Simn
@waneck
@fponticelli
@aduros
@hughsando
@andyli
@nadako
@frabbit
@jasononeil

[2015-03-13 22:07] fponticelli commented on #96
Here is mine.

Il giorno ven 13 mar 2015 alle ore 15:44 Josefiene Pertosa <
notifications@github.com> ha scritto:

[2015-03-13 22:52] frabbit commented on #96
@Merelleya you can use this picture https://dl.dropboxusercontent.com/u/21847103/frabbit.jpg

[2015-03-14 12:42] ncannasse commented on #96
Here's mine http://imgur.com/VezRLHT

[2015-03-14 13:41] markknol commented on #105
What about this?
![haxe-site-header](https://cloud.githubusercontent.com/assets/576184/6651836/fdde9324-ca56-11e4-8d85-64d19fcbb0b2.gif)
(click to preview fullscreen)

* The subsection site get their own logo part with subtle arrow in it as suggested
* Search is everywhere the same, not sure if/how this is possible
* User is complete optional, but in case we ever want to store snippets per user, m

[2015-03-14 13:50] andyli commented on #96
Mine: https://en.gravatar.com/userimage/4167363/9f93993fd564f3a6a494a2faf984e9f8.jpg?size=400

[2015-03-14 13:53] Simn commented on #105
That's almost exactly what I had in mind. Unfortunately that usually means that Nicolas is not going to like it.

[2015-03-14 14:14] ncannasse commented on #105
I had the same thing in mind as well :) (miracle does exist)

[2015-03-14 14:18] markknol commented on #105
Woaw
![agree](http://assets.diylol.com/hfs/ad1/99f/0bd/resized/all-the-things-meme-generator-agree-to-all-the-things-2d75b5.jpg)

Now we only need to build it.

[2015-03-14 14:54] metaperl commented on #3
The classhomie app [mentioned here](http://haxe.org/use-cases/web/) is not up. Also the showcase links mentioned here are not added.

[2015-03-14 16:18] Merelleya commented on #3
@jasononeil would you mind removing the classhomie app?

[2015-03-14 20:15] waneck commented on #96
I hope this size is enough: http://imgur.com/qheDJVT

[2015-03-15 08:35] Simn opened #109 "Making releases"
Hey Jason,

I just realized that I've never made a release on the new website. Assuming generated binaries and installers are available, how do we go about making a release?

[2015-03-15 18:24] nadako commented on #96
this one should be good https://www.dropbox.com/s/wt6l8tkzvyk7tat/photo.jpg?dl=0

[2015-03-15 18:53] markknol commented on #109
It looks like you can append a new version in this json file, https://github.com/HaxeFoundation/haxe.org/blob/master/www/website-content/downloads/versions.json and create a subfolder with all needed content. Not sure if anything else is needed.

[2015-03-15 23:00] Simn commented on #109
@jasononeil: I messed something up but I have no idea what. Help!

[2015-03-16 00:20] Simn commented on #109
I think I got it working now but I had massive issues with deployment. It started with an extra comma in versions.json which travis didn't care about because it doesn't check any exit codes. I still can't deploy properly through travis so I updated manually via SSH.

Please fix the mess I made!

[2015-03-16 02:59] jasononeil commented on #109
Oh man I forgot about the whole "doing a release" thing.  I had intended to clean up the release code before 3.2, but that idea got lost somewhere.  Now that travis is (*usually*) working there's no reason for us to be loading all the version information at runtime without checking it's valid.

So what happened:

* The missing comma wasn't checked by travis, it deployed, the JSON failed to load, d

[2015-03-16 03:04] jasononeil commented on #109
Also, I've made an issue about Travis not failing when the deployment fails:

https://github.com/ufront/ufront/issues/12

[2015-03-16 03:29] jasononeil commented on #3
@Merelleya not at all.  The project was renamed to [Today We Learned](https://todaywelearned.co/) but I think there are better examples of Haxe for web.

@joergwasmeier I've added the ShirtShop - thanks, looks great.

@damoebius I was histant to add Heidi, despite being a very impressive UI, for two reasons:

1. Heidi, took quite a few clicks of linking my instagram account etc before I could see

[2015-03-16 03:29] jasononeil commented on #105
Looks great :+1:

[2015-03-16 04:20] jasononeil commented on #109
Okay @Simn I've got the travis deploys working again.  It's now deploying using the "www-haxe" user.  If you're going to make any manual changes on the server it's probably worth making sure the files belong to that user, and if we ever get stuck we can do a bulk `chown -R www-haxe` to try fix things up.

Also, if you email me your public key I can add it to the `www-haxe` user so you can run depl

[2015-03-16 06:10] T1mL3arn commented on #3
ShirtShop links to the Net Wars.

[2015-03-16 08:31] Simn commented on #109
Sorry about the file mess, I thought I could "quickly fix" something and didn't realize there was a git repository running there. Also I was panicking a bit yesterday. :)

I still don't understand why index.n didn't deploy anymore, but I'm just glad it's working now. Thanks!

[2015-03-16 08:31] #109 closed

[2015-03-16 08:40] hughsando commented on #96
Here is mine:
https://www.dropbox.com/s/vddgez66saw87i9/HughSanderson.jpg?dl=0
Hugh

On Sat, Mar 14, 2015 at 5:44 AM, Josefiene Pertosa <notifications@github.com

[2015-03-16 09:58] Merelleya commented on #3
Is it just me or is the shirtshop not loading properly? I get a loading screen and then nothing.

[2015-03-16 10:00] Simn commented on #3
It works for me, but I can see that it's not working on your machine. Both browsers are chrome and the JS console doesn't report anything.

[2015-03-16 10:44] joergwasmeier commented on #3
Hi there,

tanks for the link but it links for me to http://www.netwars-project.com/webdoc

@Merelleya hmm that doesnt sounds good :( I have tested it much with all Browsers and many people and i wonder that it doesn´t work for you. I use in this Project the frist time Websockets / Socket.io i thing that was not the best idea :( Well in the next week we roll out an update which than use normal pos

[2015-03-16 10:50] Simn commented on #3
@joergwasmeier: I've fixed the link in https://github.com/HaxeFoundation/haxe.org/commit/fe9f7face25dff9be5764c873975d0f50939108f. Deploy is gonna take a few minutes.

[2015-03-16 11:13] damoebius commented on #3
@jasononeil What's wrong with your mouse cursor ? Dont you have a hand cursor when dragging picture ?
Sorry if there is no English version actually. Coming soon

[2015-03-16 21:33] ncannasse opened #110 "RC should not be on landing page"
We should maybe not land on a RC when clicking on "Download" on haxe.org, but instead on the latest stable

[2015-03-16 21:37] Simn commented on #110
So we get even less people to test it?

[2015-03-17 10:14] ncannasse commented on #110
So that people new to haxe don't download a RC accidentaly

[2015-03-17 11:03] Simn commented on #110
I've taken down the whole thing until further notice.

[2015-03-17 17:24] andyli opened #111 "Download url convention"
It is hard to determine the direct download url of a particular version, particularly for the RC versions.
Notice the subtle difference between rc/rc1/rc2 and the number of ".0" in the zip file names:
 * 3.0.0-rc.1 => http://haxe.org/website-content/downloads/3,0,0-rc,1/downloads/haxe-3.0.0-rc-win.zip
 * 3.0.0-rc.2 => http://haxe.org/website-content/downloads/3,0,0-rc,2/downloads/haxe-3.0.0-rc2-wi

[2015-03-17 19:21] ncannasse commented on #110
That should still be filtered when we re-release the RC (we could navigate Next to RC, then Next to Nightly Builds)

Also we have to warn @skial not to publish information about a RC until it's actually announced by ourselves :)

[2015-03-17 19:50] Merelleya commented on #110
I'm not sure where it initially came from. Part of it was surely caused by my announcing the release 2 weeks a go through facebook, so people were waiting for it on Sunday.

[2015-03-17 19:54] Simn commented on #110
There's nothing to filter here, I explicitly set the RC as the current release in the config. I'll just not do that next time.

As for the release announcement, it was really silly but I think it turned out alright. The nice thing is that now nobody can blame us because we didn't announce the thing.

[2015-03-17 19:54] #110 closed

[2015-03-18 02:42] jasononeil commented on #111
I'm going to do some work on the downloads / releases this week to ease the release process anyway, so it will be a good time to tackle this.

See also comments on

https://github.com/dpeek/hvm/issues/3
https://github.com/dpeek/hvm/issues/4

One of the suggestions is to keep the binaries (even stable ones) on builds.haxe.org with a consistent naming scheme.

[2015-03-20 21:42] Simn commented on #106
@jasononeil: Could you add this soon?

[2015-03-24 09:26] Simn opened #112 "Get dependencies under control"
server.hxml depends on some specific versions of which some are not compatible with current Haxe:

[code]

This requires a bit of a cleanup.

[2015-03-24 10:31] #106 closed

[2015-03-25 22:21] markknol opened #116 "404 page"
Where is the 404 page located? Can i update it somewhere? It looks outdated http://haxe.org/manual/target-php.html

[2015-03-27 02:49] jasononeil commented on #116
Please do!

https://github.com/HaxeFoundation/haxe.org/blob/master/src/app/view/error.html

It uses Haxe string interpolation rather than regular templating... the reason is it's an error handler that might be handling an error in loading templates etc.

If you're just updating the layout it should be easy enough.  If you want more control over how the actual error is displayed let me know and I'l

[2015-03-27 02:49] #116 closed

[2015-04-11 13:15] Simn opened #118 "Manual update does not work anymore"
[code]

[2015-04-11 17:23] ibilon opened #119 "Travis haxe 3.2.0-rc.2"
Follows https://github.com/travis-ci/travis-ci/issues/3650

For travis support to work the files must be in `http://haxe.org/website-content/downloads/{version}/downloads/haxe-{version}-linux64.tar.gz`.

Currently for haxe 3.2.0-rc.2 the folder version is: `3,2,0-rc,2`
but the file version is `3.2.0-rc2` (one has a dot but not the other).

[2015-04-11 17:24] Simn commented on #119
@jasononeil: Could we hack-fix this in some way that doesn't require duplicating the binaries?

[2015-04-11 19:44] andyli commented on #119
related issue: #111

[2015-04-11 19:46] andyli commented on #119
In the time being @ibilon you may use "haxe:development" instead.

[2015-04-13 09:12] Simn commented on #118
Note that I'm preparing to change the repository structure so the new markdown content for the website will be here: https://github.com/Simn/HaxeManual/tree/repository-restructure/output/HaxeManual/website

Where do we adjust this?

[2015-04-13 09:13] Simn commented on #118
By "here" I mean output/HaxeManual/website, the repository is still going to be under HaxeFoundation/HaxeManual.

[2015-04-14 09:28] kevinresol opened #120 "API docs: "view source" link broken"
I am not sure if it is expected, but the "view source" link on top right corner is broken in this page http://api.haxe.org/cs/system/DateTime.html

[2015-04-14 10:13] Simn commented on #120
That's because there is no source file for that type. I'm not sure right now how we could detect or configure that, but whatever we do has to be done in Dox: https://github.com/dpeek/dox

[2015-04-14 10:13] #120 closed

[2015-04-15 11:39] 7-by commented on #119
What about add possibility to set url to haxe build instead version? this fix also will help when i want use custom haxe bin (for example not latest, but after some commit to haxe repo http://hxbuilds.s3-website-us-east-1.amazonaws.com/builds/haxe/linux64/haxe_2015-04-14_development_7bc43d8.tar.gz)

[2015-04-15 12:00] andyli commented on #119
I'm not sure about custom url. But supporting to test a specific commit sounds useful.
Maybe something like this?
[code]

[2015-04-15 12:14] 7-by commented on #119
hm, case with url will be better, because dev's could use not only official build from haxe foundation repo, for example https://github.com/pleclech/hacking-haxe

[2015-04-15 12:28] andyli commented on #119
I'm not sure. It is kind of encouraging forks, which I personally don't want to.
If such level of customizability is needed, you may simply build or download your version of haxe in the `before_install` section.

[2015-04-15 13:28] 7-by commented on #119
When i add `before_install` section with downloading haxe binaries and remove section `haxe:` then travis download haxe 3.1.3 by default and install it and after that i need remove it and download, install custom haxe bin again in section `before_install`. I think it's wrong way

[2015-04-15 13:34] andyli commented on #119
Well, of course if you want to install custom version of haxe, you wouldn't be using `language: haxe`, but `language: generic` or whatever language you're targeting. ;)

[2015-04-15 13:36] andyli commented on #119
And even if you're using `language: haxe`, I believe you don't have to remove the travis-installed haxe. Just make sure the PATH variable is properly configured such that the system would reach your version first.

[2015-04-15 13:39] 7-by commented on #119
argh, you right! Then i can't use `hxml` and other stuffs related for haxe language. It will need describe all this data into `.yml`, but if i use `hxml` for compilation then i will have it in two places (one `.yml` and second is 'hxml')

[2015-04-15 13:50] andyli commented on #119
It isn't that hard :)

[code]

or:
[code]

[2015-04-15 13:52] 7-by commented on #119
agree with second code listing. In first listing travis install haxe twice

[2015-04-19 11:13] ibilon commented on #119
@andyli Development version of haxe works,
but it looks like they aren't bundled with a development version of haxelib
so lime doesn't install and since selfupdate fails on linux I'm stuck again

[2015-04-19 11:25] andyli commented on #119
@ibilon
The development build bundle the haxelib version of the submodule reference.
So it is not really a TravisCI problem, but a haxelib problem...
Has the Lime installation problem been reported to haxelib yet?

[2015-04-19 12:05] ibilon commented on #119
@andyli
Reported and even fixed in the 3.2.0-rc.3 version of haxelib,
so I guess it's just a matter of updating the submodule.

[2015-04-19 12:13] andyli commented on #119
Alright!

@back2dos Could we update the submodule? The latest haxelib source should be less broken than the submodule one, right?

[2015-04-19 12:19] back2dos commented on #119
Yes, you can go ahead. It might be best to use [3.2.0-rc.3](https://github.com/HaxeFoundation/haxelib/releases/tag/3.2.0-rc.3). There have been some relatively extensive contributions after that, which I'd rather release *after* the final Haxe 3.2.0 release.

[2015-04-19 12:39] Simn commented on #119
What about that shim stuff?

[2015-04-19 13:14] andyli commented on #119
@ibilon I have updated the submodule. Would you trigger a rebuild and see if it work?

[2015-04-19 14:16] ibilon commented on #119
@andyli fixed it, thanks

[2015-04-21 03:03] andyli opened #122 "haxe.org and lib.haxe.org is extremely slow right now"
As title. I guess a reboot is needed?

[2015-04-28 11:53] LordCorax opened #123 "Base64 returns different results"
It seems that there is a bug in haxe.crypto.Base64.
I used Base64's decode method to convert a simple string into a byte-object.
After that I called the encode method to get my original string value back.

But that didn't work out properly. Instead of friendly "Hello" I got a "Hell" in my output panel.
So what the hell is actually going on? ;-)

Btw the code:

[code]

Result:

[code]

[2015-04-28 11:54] Simn commented on #123
This repository is for the haxe.org website, try the haxe one for compiler issue reports.

[2015-04-28 11:54] #123 closed

[2015-04-28 13:10] markknol commented on #123
BTW, your example is incorrect and should be:
[code]

[2015-04-30 11:52] Simn opened #124 "Travis doesn't build"
[code]

@jasononeil @fponticelli

[2015-05-01 07:47] jasononeil commented on #124
That'll be this one: https://github.com/fponticelli/thx.core/pull/46

Fixing it up now.

On Thu, Apr 30, 2015 at 7:52 PM, Simon Krajewski <notifications@github.com>
wrote:

[2015-05-01 09:33] #112 closed

[2015-05-01 09:47] jasononeil commented on #124
Fixed by 944f90b990b678349f33a2517d7006f2ee00ee66

[2015-05-01 09:47] #124 closed

[2015-05-01 09:49] jasononeil commented on #118
Update done.

The initial error was from the memory leak, which is hopefully fixed with 944f90b990b678349f33a2517d7006f2ee00ee66

I've updated it to use the new markdown location as well. See f608a7035e35d02eab37c843715a06634de63eba for the change - basically it's a config value in `src/conf/app.json`

[2015-05-01 09:49] #118 closed

[2015-05-01 09:51] jasononeil commented on #122
There was a memory leak in the `minject` library used by ufront.  Possibly this issue: https://github.com/massiveinteractive/minject/issues/30

The issue is fixed in the unreleased v2 branch of minject.  For now I'm using a git submodule to reference this lib until it is released.

Fixed by 944f90b990b678349f33a2517d7006f2ee00ee66

[2015-05-01 09:51] #122 closed

[2015-05-01 10:25] #119 closed

[2015-05-01 10:35] Simn commented on #119
Does this break if I use rc.1 next time?

[2015-05-01 10:39] jasononeil commented on #119
@Simn I thought about that after I pushed this. I'm working on another commit at the moment where I will standardize the naming of all binaries to match the version number in the folder.  If we can stick to that rule going forward it'll be fine. Stay tuned...

[2015-05-01 14:27] #111 closed

[2015-05-01 14:40] jasononeil commented on #111
@andyli does this work for you?

All the version numbers in the folder and path should match, eg

http://haxe.org/website-content/downloads/3.0.0-rc.1/downloads/haxe-3.0.0-rc.1-win.zip

So you can insert the same version string to consistently get the path you want.  Notice I've also changed the folders to use "3.0.0-rc.1" instead of "3,0,0-rc,1".  Redirects are in place for the old paths.

Feel f

[2015-05-01 14:41] jasononeil commented on #119
@Simn, what I've done now is renamed all the folders to use a period ("1.0.0") instead of a comma ("1,0,0"), and then made sure all the binaries have a version number identical.

I've provided redirects for the old paths, so it shouldn't break any old scripts etc.

For future releases, we just need to make sure the download files have a version number identical to the folder number.  (I think havi

[2015-05-01 15:18] andyli commented on #111
Looks perfect! Thanks!

[2015-05-12 11:04] Simn commented on #91
The API documentation has been updated. There's no /v/3.2 yet because that's the current version. I suppose it's good enough to just create that once the next version is released.

[2015-05-12 11:04] #91 closed

[2015-05-12 12:25] explorigin opened #126 "ExprDef is missing from the new Docs"
Compare http://api.haxe.org/v/dev/haxe/macro/Expr.html with http://api.haxe.org/haxe/macro/Expr.html

In the second one you can click on ExprDef but not in the first.  I suspect there are other things missing as well.

[2015-05-12 12:26] Simn commented on #126
I have already fixed this, will update v/dev a bit later.

[2015-05-13 11:40] bubblebenj commented on #77
It could also be that an included dll is seen as a treat.
Maybe sending the unziped installer to TotalVirus for instance could give some more clue on the actual issue.

[2015-05-13 12:08] bubblebenj commented on #77
Throwing every file at VirusTotal, it found that haxesetup.exe is the treat (for 1 virus on 56).
I also thrown every haxesetup files to it and none of them ring a bell. So I suppose the issue is in the way its packaged.

[2015-05-14 16:36] fullofcaffeine commented on #4
You might add Atom to the list, besides NotWebKit. Franco has externs for it - https://github.com/fponticelli/hxatom-shell.

[2015-05-14 17:44] Simn commented on #4
Are you sure you got the right issue?

[2015-05-14 17:46] fullofcaffeine commented on #4
Ops, my apologies if it's not the right issue. I clicked the link from the website. I now see it was supposed to be for articles, only.

[2015-05-14 17:48] Simn commented on #126
done

[2015-05-14 17:48] #126 closed

[2015-05-15 13:29] Merelleya opened #127 "TiVo Showcase"
# TiVo Showcase

### The Flash Code was Dead

It was Saturday, 24th of May 2014, the second day of the World Wide Haxe Conference. I and about 60 other members of the Haxe community were sitting in a dimly lit room in a college somewhere in Paris, France. Todd Kulick, Vice President of Technology at TiVo was giving his presentation called “Shipping one million lines of Haxe to one million devices”

[2015-05-15 13:30] Merelleya commented on #127
I will provide links, images and videos shortly. I will need help to get this into the website and look pretty there.

It should be under its own menu point (Showcases or Stories, maybe)

[2015-05-22 10:48] ncannasse opened #128 "haxe.org slowdown"
I noticed quite a slowdown on haxe.org today, the server was ok but apache was flooded with requests, here's the status dump:

http://haxe.org/server-status.html

Any idea ? DDOS ?

[2015-05-24 02:27] jasononeil commented on #128
I had noticed that tora is still memory leaking, though this time the breakdown of memory in each of the websites is not giving any clues.  Next time I notice it I will take a log so you can look at it.

That seems separate from this though.  Most of the requests on that status page seem to be from the dokuwiki indexer.  I'm not familiar enough with dokuwiki to know what is "normal", but if the in

[2015-05-24 20:51] ncannasse commented on #128
It is very old, maybe we should replace the nekovm website with a haxe solution, if you're up to the task ?

[2015-05-25 11:53] jasononeil commented on #128
We could mostly re-use the technology from the Haxe website but use different content / templates.  Should we discuss it further this weekend?

[2015-05-25 20:51] Merelleya commented on #127
The links:

https://github.com/TiVo/activity

https://groups.google.com/forum/#!searchin/haxelang/activities/haxelang/yEhXuwmVV3c/vfrsmgq6xMoJ

![tivo slide-tech replaced by haxe](https://cloud.githubusercontent.com/assets/5541210/7802133/13af6dec-0330-11e5-9f02-1fbd3059f354.png)

The Video
https://youtu.be/P8BpZagb6qE

I am unsure whether to add the following picture

![500px-haxe_team](https://c

[2015-05-25 20:53] Merelleya commented on #127
Also, we probably want some other title...
@jasononeil  maybe you can come up with something, otherwise I will think about it again.

[2015-05-25 21:44] ncannasse commented on #128
Sure :)

[2015-05-26 08:24] markknol opened #130 "old.haxe home/download"
Would it be an idea to redirect the "home" and "download" pages at http://old.haxe.org to the new pages on http://haxe.org?

[2015-06-03 16:33] aduros opened #138 "Downtime alerts?"
haxe.org has been pretty slow/unreachable over the past few weeks, sometimes for a decent stretch of time. Are we using any monitoring services (pingdom, uptime robot, etc) to tell when the server needs a hug?

[2015-06-03 19:35] ncannasse commented on #138
first we had issues with new haxe.org due to a leak in minject, which was fixed. it seems now there's a issue with new haxelib website, I've limited tora memory so it will not take all of it and start swapping, hope it works as a patch until fixed

[2015-06-03 19:35] ncannasse commented on #138
But yes, we should setup an alert system, any suggestion @jasononeil ?

[2015-06-05 10:55] Merelleya commented on #138
I have asked @jasononeil to look into possible options. We looked at pingdom and he will take a short look around at other options just to compare.

[2015-06-09 16:05] Simn commented on #101
Showcase articles are in the making now so we can close this issue.

[2015-06-09 16:05] #101 closed

[2015-06-09 16:06] Simn commented on #103
#138

[2015-06-09 16:06] #103 closed

[2015-06-09 16:07] Simn commented on #105
@markknol: Can we get this sorted out soon?

[2015-06-09 16:07] Simn commented on #127
This is live and will be finalized shortly.

[2015-06-09 16:08] Simn commented on #130
Let's leave old.haxe alone. It's quite old and doesn't like change very much.

[2015-06-09 16:08] #130 closed

[2015-06-09 21:17] markknol commented on #105
@jasononeil @clemos  If I create a separate (bootstrap) html-page with the headers and provide the markup/css, could you implement it? Would that work?

[2015-06-09 21:24] clemos commented on #105
Looks good :)

[2015-06-10 19:53] fullofcaffeine opened #139 "Take off Basis from the list of frameworks for iOS/Android"
Basis*[0] is listed in the official Haxe website as a feasible framework for building apps for iOS/Android. The problem is that the library doesn't seem to be maintained as of late (last commit is from 2013). If it's not currently supported, we should take it off the list, at least until someone can make sure it really works as of now.

As a related note, @Randonee mentioned this, regarding Basis,

[2015-06-10 20:05] Simn commented on #139
Why is this not a pull request? ;)

[2015-06-10 20:22] fullofcaffeine commented on #139
There you go! https://github.com/HaxeFoundation/haxe.org/pull/140

[2015-06-10 20:25] #139 closed

[2015-06-10 22:07] markknol commented on #105
Just started on the navigation tonight, see progress:  http://projects.stroep.nl/haxe/navigation/
For now, I have only worked on the haxe.org navigation, still have to do the sub site thingies.

I have to figure out how to do this with some magical CSS or SVG trick  :smile:
![image](https://cloud.githubusercontent.com/assets/576184/8095301/43c791c2-0fcd-11e5-84da-7696a6283608.png)

[2015-06-10 22:14] ncannasse commented on #105
@markknol can we keep the main menu casing as it's on haxe.org (not with UPPERCASE TITLES) thanks :)

[2015-06-11 21:00] Gama11 opened #141 "Link to lib.haxe.org"
If there is any link in the navigation or footer, I haven't found it / it's well hidden. All the free libs Haxe has should be advertised as a feature.

[2015-06-11 21:20] markknol commented on #141
:boom: 1000 free libs, click here to download :boom:

[2015-06-12 07:40] ncannasse commented on #141
I agree we need to have haxelib in our top menu navigation. The question is where exactly ?

[2015-06-12 07:42] Simn commented on #141
I thought that if we go for https://github.com/HaxeFoundation/haxe.org/issues/105#issuecomment-110930894 we could make the subdomain part clickable and have a dropdown like for other menu items.

[2015-06-12 07:47] markknol commented on #141
Yes, that's a good plan!

[2015-06-12 07:53] ncannasse commented on #141
@Simn maybe, but I wonder if people will understand that it's clickable :) It doesn't look much like a menu at first glance

[2015-06-12 08:02] Simn commented on #141
We could add a small triangle pointing down at the bottom right of the "button".

However, we should also feature lib.haxe.org on the body of the entry page. On that note, did I mention that there's WAY TOO MUCH TEXT THERE? :D

[2015-06-12 08:33] markknol commented on #141
It could be structured in a more visual attractive matter.

[2015-06-17 22:34] markknol commented on #105
I have updated the navigation test page.

**These are my thoughts**
* The *haxe.org* and *api.haxe.org* share the same menu completely.
* The *try.haxe.org* and *lib.haxe.org* have own menus, but share the "Learn Haxe" and "Connect" menus.
* I removed the uppercase :cry:
* There are some references to pages that needs to be created (in Haxe Foundation submenu).

**Inplementation details**
* I used

[2015-06-17 23:10] ncannasse commented on #105
Nice !
looking forward to have this integrated when @jasononeil is back

[2015-06-17 23:11] ncannasse commented on #105
Just one nitpicking : do we really need to have a Google+ link ? (cc @Merelleya) it feels so... 2011

[2015-06-17 23:35] markknol commented on #105
We can wait, maybe one day Google+ is as retro as IRC. Retro is always hot.

[2015-06-18 07:25] Simn commented on #105
Looks really nice!

My only concern is that once you leave a sub-domain by clicking the Haxe logo it's not obvious how to get back to where you were. I still think it would be nice to have the sub-domain "button" as a dropdown for that, but then we don't have an obvious way for getting back to the sub-domain entry page itself.

[2015-06-18 09:02] Merelleya commented on #105
Let me just repeat this, Mark, You are a start! Really. I love the new Menu. If you have the time, I would like to go through some details with you (I Am unsure whether I want the social pages and the support things together, mainly...I will meditate about this).

@ncannasse I think we underestimate and under-use google+. It never really got traction in Europe, but is more popular in the US. It is

[2015-06-23 12:45] markknol opened #142 "Links in release notes not clickable"
http://haxe.org/download here

[2015-06-24 11:06] Simn commented on #142
Is markdown supposed to recognize links automatically? In that case it would be up to haxe-markdown to support that.

[2015-06-24 11:51] markknol commented on #142
Sorry in that case it is related to this https://github.com/dpeek/dox/issues/127 / https://github.com/dpeek/haxe-markdown/issues/20

[2015-06-24 11:51] #142 closed

[2015-06-26 18:39] ncannasse opened #143 "api.haxe.org search"
Currently when searching on api.haxe.org, if you happen to write a package name (for instance "Reflect") you'll have all the classes from that package listed.

I suggest instead we only link the package, so for instance a search for `reflect` would list:

[code]

Please note that it would be nice to prioritize in the results the toplevel and haxe/sys packages against the platform-specific packages

[2015-06-26 18:46] ncannasse commented on #143
Also, the current search will only perform a local/client search based on the types index. If we want to search into the full documentation, we should either roll out a full search tech or add a link to this `https://www.google.com/?#q=site:api.haxe.org+trim` at the bottom of the search results (with a "all results" caption ?)

[2015-06-26 18:59] Simn commented on #143
Search should be Filter. We changed that before but apparently it got changed back with the theme change.

Prioritizing results is not going to work via CSS tricks I think, so this would require something more elaborate. Maybe just use google search like on the main site?

[2015-06-29 13:05] clemos commented on #105
I'd be very happy to help on this, at least by integrating the menu to try.haxe.org.

Also, I agree with @Simn, there should be a more obvious way to navigate among the sites.
Maybe instead of "Learn Haxe", the "main" menu should be "About Haxe" or "What is Haxe" (I'm not too good in wordings),
and contain a list of links to these "main sites" so it's obvious that they are the "first ring".
It cou

[2015-06-29 15:03] markknol commented on #105
@clemos sounds like an idea. I personally was thinking that the sublogo could also be a dropdown, maybe that is the same "first ring" idea you have?

Please take my test navigation project and take it to a next level. It would be nice if we first have it complete it before it gets integrated?
I created a temporary repo for it https://github.com/markknol/haxe-navigation

[2015-07-21 11:08] mandel59 opened #145 "Update documents about license"
Neko has relicenced under The MIT License, but some documents haven't been updated.
http://haxe.org/foundation/open-source.html
[People concerning about license often hesitate to adopt Haxe](http://www.gamedev.net/topic/669947-is-haxe-used-much-professionally/), so to clearfy the neko runtime is not used for gaming consoles binary but compiler toolchains would be nice.
(repost of https://github.co

[2015-07-23 16:17] dmouton commented on #3
as you can see at wwx, Heidi works well. Could you tell me if there is something wrong ?

[2015-07-24 14:31] ovidiugabriel commented on #75
Ok. I understand that. This is very clear that Haxe and neko are different things so the Haxe binaries should not come with neko files.

But I did not found any instructions on how to get libneko https://www.google.ro/search?q=install+libneko&ie=utf-8&oe=utf-8&gws_rd=cr&ei=BEyyVfiYKYmkoQTqs5TACw
So that is a dependency that is not documented anywhere.

[2015-07-24 14:34] ovidiugabriel commented on #75
I think it could be nice to put a text somewhere at least on http://lib.haxe.org/ that haxelib depends on a manual neko instalation

[2015-07-24 14:39] ovidiugabriel commented on #75
Redirected from HaxeFoundation/haxe#4438 :

Yes, it will be nice to write down somewhere that haxelib depends on a manual installation of neko.
Thanks!

[2015-07-24 14:48] back2dos commented on #75
As explained before, with hxcpp and hxjava both relying on haxelib and therefore on neko, I think it is best to consider neko a haxe dependency and act accordingly.

[2015-08-09 23:31] joergwasmeier commented on #3
Hey there, we have a new Project called KOPILOT. Its a german school cloud software used in 15 schools (and still counting ;) ). It is a big project (100k Haxe code, which we developed for 2 years ) using a new haxe framework called Synapse which we will release hopefully end this year (need to port from haxe 2 to haxe 3). The app uses Javascript, NodeJS, Mongodb, LessCSS. Actually you cant see mu

[2015-08-24 14:55] carlcalderon commented on #6
I made a small xargs-like program that I'd love feedback on. https://github.com/carlcalderon/bux

The CLI uses a getopt-style flaggning interface for ease of use. I have also found a few quirks that I would like to address regarding the (Sys) Input buffer, where is the correct forum for that?

Cheers

[2015-08-29 13:19] azrafe7 opened #146 "Latest windows nightlies missing"
It seems that since august 26 the windows nightlies from http://hxbuilds.s3-website-us-east-1.amazonaws.com/builds/haxe/windows/ aren't being built.

[2015-08-29 13:29] azrafe7 commented on #146
Also, latest windows installers from http://hxbuilds.s3-website-us-east-1.amazonaws.com/builds/haxe/windows-installer/ are corrupt/wrong size.

[2015-08-29 13:44] andyli commented on #146
ping @waneck ;)

[2015-08-29 16:44] waneck commented on #146
I'll work on it today

[2015-08-30 19:18] waneck commented on #146
It should be working now

[2015-08-30 19:18] #146 closed

[2015-08-30 19:34] azrafe7 commented on #146
It works, thanks!

Just noticed that the [sources](http://hxbuilds.s3-website-us-east-1.amazonaws.com/builds/haxe/source/) folder seems to suffer from the same problem.

[2015-09-16 17:42] ncannasse commented on #104
@jasononeil up ?

[2015-10-11 20:20] markknol opened #151 "ufront build error"
Since a today I suddenly have this error:

![image](https://cloud.githubusercontent.com/assets/576184/10418825/f8f17736-7065-11e5-8e5e-edbfda97ca39.png)

Very strange, I want to add new stuff to the branding page but now it doesn't work locally anymore. Anyone can help on this?

[2015-10-11 20:23] markknol commented on #151
Also, if i just run `ufront server` I see this:

![image](https://cloud.githubusercontent.com/assets/576184/10418858/92ed5954-7066-11e5-9608-0c4429466faf.png)

But got this in the browser:
![image](https://cloud.githubusercontent.com/assets/576184/10418843/6f0923a6-7066-11e5-83c8-f57b1cb4b1df.png)

[2015-10-11 20:28] markknol commented on #151
Since it is all ufront this might be related to https://github.com/HaxeFoundation/nekovm.org/issues/3 too..

[2015-10-12 15:50] joel-arthur opened #152 "Unable to compile with the .NET 4.5 framework"
When trying to compile with .NET 4.5,

adding
-net-lib C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework.NETFramework\v4.5\mscorlib.dll

Or

Including Mono's .NET 4.5 dlls with:
-D net-ver=45

results in the following error:
PeReader.Error_message("Error reading compressed data. Invalid first byte: e5")
Build halted with errors (haxe.exe).

I have also seen this error:

File "ilMetaR

[2015-10-12 15:51] Simn commented on #152
Please report at https://github.com/HaxeFoundation/haxe/issues

[2015-10-12 15:51] #152 closed

[2015-10-15 15:30] kevinresol commented on #151
Try installing `minject` of version "2.0.0-rc.1"?

[2015-10-15 15:34] kevinresol commented on #151
It is a bit hard to get started with the ufront lib actually. I think it is due to its many dependencies.

I found that the best way to get ufront working is to git clone the ufront/ufront repo. Then run the ./setupDev script

[2015-11-21 18:24] ibilon opened #157 "OpenSuse package issues"
Hi,

I had no idea where to put this issue so hopefully this isn't too weird here,
this is more for @andyli I guess.

Tried the opensuse's rpm for haxe and neko,
the install worked great, tested all haxe target with a hello world without issue,
and the install was quicker/easier than doing it by hand. Thanks!

You should activated it for the latest version (leap 42.1).

But then I tried openfl and

[2015-11-22 01:17] andyli commented on #157
Thanks for reporting!

All openSUSE versions including Leap 42.1 should have been enabled. It should be in the list in the right column at https://build.opensuse.org/project/show/devel:languages:haxe

For .so, I will make a PR to hxcpp.

[2015-11-26 17:46] ibilon commented on #157
Indeed it was, not sure why I thought it wasn't.

I double check on the libpcre, the rpm lists `libpcre.so.1()(64bit)` as a dependency and all the ndll link against it too.
So no idea why it was complaining about `libpcre3`, I'll have to install another opensuse 42 soon so unless it complains there too I'll assume it was something else.

[2015-12-31 04:43] kryptodev opened #160 "Webpage not showing as intended"
`http://haxe.org/doc/videos/editors/Intelij`

[2015-12-31 08:52] jasononeil commented on #160
That looks like it was on the old site:

http://old.haxe.org/doc/videos/editors/Intelij

Where did you see a link to it?

[2015-12-31 08:52] #160 closed

[2015-12-31 10:33] ibilon opened #161 "Page not found and debug informations"
When accessing a page that doesn't exist you get a "Page Not Found" as expected,

but the title is "Error: Page Not Found app.api.PageApi.locatePage:41"
and the console logs `app.api.PageApi.locatePage(40): Could not find page /data/newhaxe/www/website-content/pages/doc/videos/editors/Intelij/index.[html,md]` and `ufront.handler.ErrorPageHandler.handleError(53): Handling error: Error: Page Not Fou

[2016-01-06 14:41] Simn opened #162 "Duplicate <title> in the manual"
For instance:

http://haxe.org/manual/lf-static-extension.html
http://haxe.org/manual/macro-limitations-static-extension.html

[code]

While I could fix this in the manual itself, I would prefer if we generated titles similar to how wikipedia deals with disambiguity:

Static Extensions (Language Features) - Haxe - The Cross-platform Toolkit
Static Extensions (Macros - Limitations) - Haxe - The Cro

[2016-01-06 14:49] Simn commented on #161
Is it really a problem to hit the console with some debug information? Yes production and all that, but we're talking about the browser console here.

[2016-01-06 14:50] Simn commented on #157
Is this resolved?

[2016-01-06 14:51] Simn commented on #151
@jasononeil: Can we sort out dependency versions once and for all and then try to keep everything compatible?

[2016-01-06 14:52] Simn commented on #138
What's the state of this? The website has been stable recently, but it would still be nice to have some sort of alert.

[2016-01-06 14:53] Simn commented on #128
Is this resolved?

[2016-01-06 14:55] Simn commented on #127
This will be going live once #159 is merged, finally!

[2016-01-06 14:55] #127 closed

[2016-01-06 14:57] Simn commented on #105
Does anyone feel responsible for getting this live?

[2016-01-06 15:03] Simn commented on #2
Closing this as I think we're good on the Games content.

[2016-01-06 15:03] #2 closed

[2016-01-06 15:10] clemos commented on #105
I've been working a bit on it back then,
but didn't manage to do anything convincing,
and then, quite quickly, I forgot...
So, sorry, but I can't take the lead on this :(

[2016-01-06 15:15] Simn opened #163 "Travis deploy prompts for deploy key"
[code]

[2016-01-06 15:26] ibilon commented on #161
Yeah, mostly about showing the path on the server,

but the title of the page isn't hidden information and should really juste be "Page not found".

[2016-01-06 15:27] Simn commented on #161
Oh, I didn't even notice the title. I agree that should be changed.

[2016-01-06 19:58] ncannasse commented on #128
Yes, Neko.org was moved to better tech :)

[2016-01-06 19:58] #128 closed

[2016-01-06 20:22] markknol commented on #128
What is the status of the new nekovm site?

[2016-01-06 20:23] ncannasse commented on #128
We don't have much to change, it's been rewritten using markdown here https://github.com/HaxeFoundation/nekovm.org

[2016-01-06 20:34] markknol commented on #128
Is that version currently online?

[2016-01-06 23:23] ncannasse commented on #128
Yes I think so

[2016-01-12 14:20] Simn commented on #104
I would like to see this addressed with priority because updating this by hand is really obnoxious.

[2016-01-12 17:13] andyli commented on #163
The Travis log said
[code]

I guess there is an update on Travis's side invalidated our encrypted key.
@jasononeil, Would you try to run `travis encrypt` again and replace the the encrypted key?

[2016-01-12 18:21] andyli commented on #163
@jasononeil please follow up in https://github.com/travis-ci/travis-ci/issues/5442

[2016-01-12 19:19] ncannasse commented on #104
Another up to @jasononeil :)

[2016-01-16 13:35] ibilon commented on #157
`libneko1` now installs a `libneko.so.0`

Made a test on a clean vm and all worked, thanks.

[2016-01-16 13:35] #157 closed

[2016-01-31 10:48] ncannasse opened #164 "Partners Logo"
Urgent update for partners list on homepage and http://haxe.org/foundation page:

As part of the "supporters", add the ChameleonJohn logo
http://www.chameleonjohn.com
Logo available here http://imgur.com/NwMLiv4

While we update the list we can also remove KnowledgePlayers, which haven't renewed their membership.

Putting it on @andyli top priority list

[2016-01-31 18:06] andyli commented on #163
Fixed in 2937079b22d36bef1bf1d57f0c1028f02e422d8d

[2016-01-31 18:06] #163 closed

[2016-01-31 18:21] #164 closed

[2016-02-01 17:22] andyli commented on #104
Done. The TravisCI builds from the development branch of the haxe repo will deploy api docs to http://api.haxe.org/v/dev/.

[2016-02-01 17:22] #104 closed

[2016-02-01 17:52] Simn commented on #104
THANK YOU!

I'm reopening as a reminder to generate the 3.2.1 documentation again. There's also still the issue of versioning these, e.g. v/3.2.1/. I'm not sure how much of that we want to automate too.

[2016-02-01 18:08] andyli commented on #104
I am considering to deploy the release versions by using the Travis builds of tagged commits. I will look into that : )

[2016-02-01 21:27] Simn commented on #104
That would be perfect!

The last thing is that we have to deploy the content of api.haxe.org itself. This should always be the latest release version. I'm not sure if we have to semver compare that because there could be something like 3.0_bugfix again which when tagged shouldn't overwrite the current documentation.

[2016-02-01 21:34] markknol commented on #104
@andyli Hey man, this is encouraging news!

[2016-02-02 15:50] markknol commented on #104
Does this use a git version of dox?

[2016-02-02 16:20] andyli commented on #104
@Simn

I'm not sure if I understand what you mean. Here is what I'm going to implement:

Case 1: when there is an existing tag, say 4.0.0, and we want to re-tag it to another commit. We should overwrite the old 4.0.0 docs.
Case 2: when there is an existing tag, say 4.0.0, and we want to create a new bug-fix release, 4.0.1. It should create a new set of docs (4.0.1), and leave the 4.0.0 one unmodif

[2016-02-02 16:21] andyli commented on #104
@markknol Yes, it is using git versions. We're using `make install_dox` in https://github.com/HaxeFoundation/haxe/blob/development/Makefile#L210

[2016-02-02 16:22] Simn commented on #104
This is what I meant.

[2016-02-11 20:25] andyli commented on #145
The updated pages are now live. :)

[2016-02-11 20:25] #145 closed

[2016-02-25 20:29] markknol commented on #151
@andyli @Simn I tried to get the site working again but still i don't get it up and running. Any hint?

I did `ufront build` and this appeared:
[code]

[2016-02-25 20:33] andyli commented on #151
There are submodule changes, so you have to `git submodule init && git submodule update`.

[2016-02-26 08:43] markknol commented on #151
I did what you said, now it has different errors. It seems the closure compiler outputs everything in the console, but I also have this error:

[code]
Which is true, because I cannot find the _mysql.json_ in the project too.

[2016-02-26 08:47] kevinresol commented on #151
@markknol probably because the json contains credentials so Jason didn't commit it to the repo

[2016-02-26 08:49] kevinresol commented on #151
btw, it should look something like this:
[code]

[2016-02-26 08:50] markknol commented on #151
Ok, thanks! It now compiles and I can start the `ufront server`, but I see this in the browser:
[code]

[2016-02-26 08:52] kevinresol commented on #151
That's a runtime dependecy thing. Maybe you should find the nMagick.ndll somewhere...

[2016-02-28 03:50] andyli commented on #151
"nMagick.ndll" is provided in the [ImageMagick haxelib](https://bitbucket.org/yar3333/haxe-imagemagick). However, it provides Windows and Linux ndlls only... I've successfully compiled a Mac ndll and will see if I can send a PR to get it bundled.

[2016-02-28 04:19] andyli commented on #151
I've pushed my Mac ndll to https://bitbucket.org/andyli/haxe-imagemagick. Would you check if it work on your machine? I'm not very sure whether it is portable since I'm using the homebrew-installed neko, which places libneko at location different from the official installer. And you have to `brew install imagemagick` to get "libMagickWand-6.Q16.2.dylib" for the ndll to load too.

[2016-02-29 16:15] Merelleya commented on #105
@markknol ping

[2016-02-29 16:57] markknol commented on #105
@Merelleya Hey, why are you pinging me? :smile:  I am working on it already for the try.haxe site, and I also want to do it for the haxe.org site, but I have troubles running that one locally because of some dependencies.

[2016-02-29 17:47] Merelleya commented on #105
That's all I Wanted to know. I kind of lost track on who is taking care of this for what and I was looking at haxedevelop.org and noticed on the main haxe.org site there is no way to get back to the subdomains and so on.

[2016-02-29 19:16] markknol commented on #105
If all have the new nav, that would be solved, right?

[2016-03-02 09:25] bablukid opened #165 "New blog section enhancements"
Hi, thanks a lot for the brand new HF blog !

some basic suggestions :
- [x] there is no link to the blog in the nav bar (!!?)
- [x] last headlines from the blog in the homepage would be nice
- [x] the blog has no RSS feed, i'm so sad I can't add it to my Feedly

[2016-03-02 16:21] Simn commented on #151
I'm having trouble with this as well (on Windows). Even putting the file in the same directory I'm running the server at gives me "Exception : Neko_error(load.c(237) : Failed to load library : ./nMagick.ndll)".

I didn't look into rebuilding that thing myself yet, nor do I particularly want to...

[2016-03-02 16:32] Simn opened #166 "haxe.org vs. Haxe 3.3"
We currently have several issues with several libraries:
1. detox: Requires a fix for constant patterns: https://github.com/Simn/detox/commit/a20b5b88895a4a6dfb8bac672efa5d347f8de0f7
2. ufront-mvc: Requires fix for missing Void-match: https://github.com/Simn/ufront-mvc/commit/2a3256219dde5248b3575282628e8178e3f1d07a. The compile-time error is new, but this probably lead to problems before.
3. haxe

[2016-03-02 16:55] Merelleya commented on #165
It is not linked yet because it is as of yet not properly "released".

there are some more improvements coming up. I will put the RSS feed thing on the list. Unfortunately, we don't have that much WebDev power at the moment, so it will take some time for new things to be added, so bear with us.

[2016-03-02 17:36] bablukid commented on #165
sure, thanks for the answer

[2016-03-02 20:20] ibilon commented on #161
Can't figure out how, but that's fixed.

[2016-03-02 20:20] #161 closed

[2016-03-02 20:58] ibilon commented on #98
Now that there's a blog this could be a post,
it's a year old though.

[2016-03-03 11:19] Merelleya opened #170 "Add The Blog to the Navigation"
@markknol or @andyli

could one of you find a nice spot to link the blog in the main navigation sow e can go "visible"?

I know the nav is being reworked but in the meantime just put it somewhere people can find it.

Thanks!

[2016-03-03 13:22] ibilon commented on #170
I tried it,

there's not enough space as is to add "Blog" in the top level menu,

adding it in "community" feels hidden though.

[2016-03-03 13:24] Simn commented on #170
Having it under community makes sense to me. We should also feature it prominently on the main page though, but one step after another.

[2016-03-03 13:35] Simn commented on #166
The Haxe issue has been resolved. Now the question is what is gonna happen with @jasononeil's libraries maintenance-wise.

[2016-03-03 13:38] Simn commented on #143
The search has been improved a lot as you can see on /v/dev. I don't plan to add package-search at the moment. I also don't want to mix up the type filter and a full-text search, so if anything that should be addressed from a separate search box like on haxe.org.

[2016-03-03 13:42] Simn commented on #96
Are we gonna do anything with this? Having an overview of the involved people would be useful for the blog as well so we can link some names. It's always good to connect a name to a face, even if that face is Franco's.

[2016-03-03 13:42] Simn commented on #105
That's the idea!

[2016-03-03 13:43] Simn commented on #138
I'll go ahead and close this because we don't seem to have any issues anymore and nobody feels responsible anyway.

[2016-03-03 13:43] #138 closed

[2016-03-03 13:45] ibilon commented on #96
I can do a page for this today, I may miss some role on some people though.

[2016-03-03 13:49] Simn commented on #170
By the way @ncannasse, are we gonna have blog.haxe.org as well?

[2016-03-03 14:07] Simn commented on #96
That's fine, we can deal with the content. It's just about getting started with a new page that's the problem (for me anyway).

On that note, it would be super-duper-doubleplus-awesome if you could briefly document the steps to get a new page on haxe.org.

[2016-03-03 15:45] ibilon commented on #96
For a "normal" page it's not that much work,
you create your md/html file in the right folder, add it to the sitemap.json, F5 and it's there.

[2016-03-03 15:56] ibilon commented on #170
Added it into community.

[2016-03-03 16:45] Simn commented on #151
Apparently my problem was that I had the 64bit version of ImageMagick and needed the 32bit one.

[2016-03-03 17:35] Simn commented on #96
I have added some role description. But now that I'm looking at it I think we should structure this a bit more and add the following information:

* Year when the person started contributing to Haxe: This shows that most people have been involved for years, which is good.
* Location: We're from all over the world and that always looks good.

This is the data, though I merely guessed some of the da

[2016-03-03 18:05] Simn commented on #166
Running it locally I get these errors when trying to make a blog post:

[code]

That almost looks like some DCE problem but haxe.org doesn't use full DCE as far as I can tell.

[2016-03-03 19:24] Simn commented on #170
Alright, that looks good!

@markknol: Any idea how we could promote it on the main page in a nice way?

[2016-03-03 19:31] ibilon commented on #151
Yeah that's not the easiest project to get started with,
for me it was (now fully working): nMagick.ndll for linux64 wasn't link to the right lib
the database was empty and I had to create rows manually (figuring out what to put in some fields wasn't easy)
and last but not least nekotools server randomly dropping the __x param of remoting call
configuring apache is a pain also

Anyone else had iss

[2016-03-03 19:46] Simn commented on #151
Did you do this step? "Visit http://localhost:2987/blog/ufadmin/ and click on "DB Admin" to create and sync each of the required tables."

[2016-03-03 19:47] ibilon commented on #151
Yeah, the tables were here, but empty.

[2016-03-04 16:24] ncannasse commented on #143
Please note that if you filter by platform (for instance "neko"), the other platforms packages still appear in the search

[2016-03-04 16:32] ncannasse commented on #170
I'm sure @Merelleya want one single URL for the blog, so I can setup http://blog.haxe.org to redirect on http://haxe.org/blog if that's what you want

[2016-03-04 16:58] Merelleya commented on #170
Yes, just one, please

[2016-03-04 18:59] ibilon commented on #165
The first was done,
and I made a rss feed http://staging.haxe.org/blog/rss/

I put a `<link>` tag in the middle of the page so that's not optimal, I'll have to see how to inject in the head, and it could probably use a visible link/rss icon linking to it.

[2016-03-04 19:14] Merelleya commented on #165
Thank you so much for doing this!

Am 04/03/2016 um 19:59 schrieb Valentin Lemière:

[2016-03-04 20:40] markknol commented on #170
I think it can have a nice place in the new nav.

[2016-03-04 22:22] #162 closed

[2016-03-04 22:58] ibilon commented on #162
Now deployed:
http://staging.haxe.org/manual/lf-static-extension.html
http://staging.haxe.org/manual/macro-limitations-static-extension.html

[2016-03-04 23:00] Simn commented on #162
Perfect, thanks a lot!

[2016-03-05 00:53] fullofcaffeine commented on #164
I know the issue is closed, but I just saw this partner and I'm curious about how they're using Haxe, that's not mentioned anywhere. It looks like they're doing web with Haxe, is that it?

[2016-03-05 10:14] ncannasse commented on #164
Yes, they were supposed to send me some details about it but I didn't get any. I'll ping them back.

[2016-03-05 14:08] nadako commented on #96
I just found a similar page on Ruby on Rails website that's worth noting: http://rubyonrails.org/community/

[2016-03-06 11:51] nadako opened #172 "Syntax highlighting issue in Blog"
Syntax highlighting is not applied when you open a blog post from the list, e.g.

go here http://haxe.org/blog/ and click at my `import.hx` post - code samples won't be highlighted
but if you open http://haxe.org/blog/importhx-intro directly, they will be

[2016-03-06 12:00] Simn commented on #172
wtf...

[2016-03-06 12:20] nadako commented on #172
I think that's related to the fact content are loaded by js code without refreshing browser page, it's missing some highlighting init call or something.

[2016-03-06 12:38] ibilon commented on #172
The number of comments is also missing,
and if you go directly to it then "community" isn't colored.

I'll look into these.

[2016-03-06 13:51] ibilon commented on #172
Alright I fixed the syntax highlighting locally, but it requires modification to https://github.com/ufront/ufblog/
I made a pull request https://github.com/ufront/ufblog/pull/1

[2016-03-06 18:35] ibilon commented on #172
Actually my solution was bad, we need a dev version of ufront-mvc which has code to reload script annotated `uf-reload`, which includes the one we use to highlight the code.

[2016-03-07 10:21] ibilon commented on #172
Fixed on staging.

[2016-03-07 10:21] #172 closed

[2016-03-07 12:55] ibilon commented on #166
No but it runs through google closure which does dce,
do you have the same problem if you switch to `client.js` and `app.js` in https://github.com/HaxeFoundation/haxe.org/blob/staging/www/view/layout.html#L109-L110?

[2016-03-07 23:27] markknol commented on #170
I made it a main item in the new nav.

[2016-03-07 23:33] markknol commented on #96
We can use the github avatars combined with a flag and date in a circle, something like on the lib.haxe user page.

[2016-03-08 10:45] Simn commented on #166
Alright, Jason has given me access to ufront so if we still need anything there let me know. The 3 original issues have been addressed, I'll check out the DCE (?) problem again before the RC release unless someone else wants to investigate it.

[2016-03-08 11:04] ncannasse commented on #96
:+1:

[2016-03-09 14:25] Simn opened #174 "Versioning the blog content"
We already managed to overwrite each other's edits which makes me wonder about versioning. No concrete ideas yet, just throwing it out there.

[2016-03-10 23:11] fullofcaffeine commented on #164
Awesome, @andyli don't forget to put the logo here too: http://haxe.org/use-cases/who-uses-haxe.html

[2016-03-18 21:49] jcward opened #175 "Implement OpenSearch for Chrome auto search suggestion"
Per my [Twitter conversation](https://twitter.com/Jeff__Ward/status/710915653541048320) that got a bit long winded, we discovered that the haxe.pl website sticks in the chrome search bar because they've implemented "OpenSearch" (see this [blog post](http://blog.coredumped.org/2012/04/opensearch-how-to-get-google-chrome-to.html) for quick details.)

Please consider adding this to haxe.org. It adds

[2016-03-21 15:07] andyli opened #177 "Server upgrades"
It is about the server, which hosts haxe.org, lib.haxe.org, nekovm.org, and other sites. This issue is opened here just because we don't have a dedicated repo for the server.

There are things about the server that need to be improved:
- use of Debian Squeeze which reached its EOL on 2016-02-29
  - unable to install new software from apt-get
  - missing security fixes
- no SSL configured
  - haxel

[2016-03-21 16:36] ibilon commented on #177
Haxelib could really use some ssl, it barely need more cpu, and there's free ssl certificate now https://letsencrypt.org/

(While at it we also need to upgrade the usage of md5 for haxelib password, it's been broken for so many years, but that's not a server issue.)

[2016-03-22 12:28] #96 closed

[2016-03-22 13:41] markknol commented on #175
This would be relative easy to do:

the search on haxe.org works like this:
`http://staging.haxe.org/search?s=keyword`

We need to add this meta-tag:

[code]

The `opensearch.xml` file should look like this:
[code]

[2016-03-26 16:24] jcward opened #178 "blog.haxe.org redirect / subdomain convention?"
Currently [lib.haxe.org](http://lib.haxe.org) and [try.haxe.org](http://try.haxe.org) go to their respective pages, while [blog.haxe.org](http://blog.haxe.org) shows a default Apache page:

![image](https://cloud.githubusercontent.com/assets/2192439/14061061/21a616ba-f33c-11e5-9229-b781eec616b7.png)

It'd be nice if blog.haxe.org did any of the following:

1) redirect to http://haxe.org/blog
2) ac

[2016-03-29 12:02] premithk commented on #5
https://medium.com/kodemint-technologies/haxe-lime-openfl-ec9c2784aaa8#.8ybiswtim

[2016-04-05 12:24] clemos opened #183 "HTTPS"
See https://github.com/clemos/try-haxe/issues/105
It would be nice to either purchase a certificate or get one from let's encrypt.
Then I would be happy to install it on try.haxe.org.
What do you think ?

[2016-04-05 12:29] clemos commented on #183
Sorry, I hadn't seen https://github.com/HaxeFoundation/haxe.org/issues/177

[2016-04-05 12:29] #183 closed

[2016-04-05 15:28] nadako commented on #177
Now when Haxe has [bundled SSL support](https://github.com/HaxeFoundation/haxe/pull/5014), it would be really great to connect to haxelib repo/server through https.

[2016-04-11 08:07] Simn commented on #170
This has been resolved.

[2016-04-11 08:07] #170 closed

[2016-04-12 08:09] Simn opened #184 "Clarify email address purpose on contact page"
http://haxe.org/foundation/contact.html

I've been getting some random questions about OpenFL and whatnot on support@haxe.org. We should at least try to clarify that these email addresses are not for coding help.

[2016-04-12 08:46] xvw opened #185 "links at the bottom of page are broken"
It seems that "absolute url" are not correctly implemented. This links concat "haxe.org" + "url".

[code]

[2016-04-12 10:53] #185 closed

[2016-04-24 11:27] Jeeppler opened #191 "Broken links in home page footer section"
Hello,

I found broken links in home page footer in the "learn haxe" section:

- API Documentation ->  http://haxe.org/http://api.haxe.org/
- Try Haxe -> http://haxe.org/http://try.haxe.org/
- Haxelib -> http://haxe.org/http://lib.haxe.org/
- Code Cookbook -> http://haxe.org/http://code.haxe.org/

the error pattern for all for links is the same: they have a http://haxe.org/ in front of the subdoma

[2016-04-24 13:32] markknol commented on #191
This is already fixed on staging.

[2016-04-24 13:36] Jeeppler commented on #191
:+1:

[2016-05-01 11:11] MatthijsKamstra opened #194 "Lua (logo) target on homepage"
I needed it for a presentation, so here it is.

![all-targets-lua](https://cloud.githubusercontent.com/assets/907219/14941485/39537be4-0f9e-11e6-8404-718c2b8ed432.png)

![lua-orange](https://cloud.githubusercontent.com/assets/907219/14941486/416251a2-0f9e-11e6-8f46-1a47ed4c6479.png)

[all-haxe-targets-plus-lua.zip](https://github.com/HaxeFoundation/haxe.org/files/244076/all-haxe-targets-plus-lua.z

[2016-05-09 12:15] markknol commented on #191
its live

[2016-05-09 12:15] #191 closed

[2016-05-09 12:15] #184 closed

[2016-05-09 12:27] markknol commented on #194
thanks, but when i open the SVG most logos seem broken?

![image](https://cloud.githubusercontent.com/assets/576184/15113034/2f23405a-15f2-11e6-832b-d9cfbb693640.png)

[2016-05-09 13:12] MatthijsKamstra commented on #194
the same here...
let's try that again

[all-targets.svg.zip](https://github.com/HaxeFoundation/haxe.org/files/255005/all-targets.svg.zip)

[2016-05-09 13:50] markknol commented on #194
Thanks!

[2016-05-09 13:50] #194 closed

[2016-05-26 22:47] sledorze opened #198 "[3.3-rc1] duplicate type parameters error also when used with 'Const'"
This generates an error:

class Foo<Const,Const> {}

Const can be very useful with macros and I don't understand why it should be restricted.

[2016-05-27 07:52] markknol commented on #198
I think this is an Haxe issue, not a haxe.org issue.
Would you mind to post it here? https://github.com/HaxeFoundation/haxe/issues

cc @Simn

[2016-05-27 07:52] #198 closed

[2016-05-31 07:44] ibilon commented on #178
I vote for redirection to `/blog`.

It'd be nice to also do that for haxelib, that way we could have `staging.haxe.org/lib` (https://github.com/HaxeFoundation/haxelib/pull/327)

Although that might complicate deployment, what do you think @andyli?

[2016-06-01 09:00] andyli commented on #178
Using a different subdomain for each subsite would be easier to relocate
them to dedicated servers, in case we want to do so in the future. But
thats not a huge problem since we can redirect old urls to the new ones
anyway.

[2016-06-02 08:42] felipevex commented on #3
Hi! Last year I started a project for a client. To help me with this project, I create a lib to development of web applications. This lib was released last month as open source and I hope it be useful for more people: http://lib.haxe.org/p/priori/

Some screenshots of the project I'm developing with Priori lib:

![captura de tela 2016-06-02 as 05 22 09](https://cloud.githubusercontent.com/assets/1

[2016-06-02 18:29] Simn opened #201 "Get the binaries out of git"
At the moment we have all binaries as part of the git repository which is really dumb. It would be nice to have them separately.

[2016-06-02 20:47] sledorze commented on #198
@markknol oups thanks, my bad.. :)

[2016-06-08 18:46] ncannasse opened #203 "Partners list"
Could someone update the partners list on both homepage and partners page with the following changes:

- add McGrawHill Education to Supporters (http://www.mheducation.com/) logo below, to resize and black&white
- remove Prezi

![mhe-red-rgb-300ppi](https://cloud.githubusercontent.com/assets/1022912/15906496/6240bf56-2db9-11e6-8fc5-cc297cd586ea.png)

[2016-06-08 19:04] #203 closed

[2016-06-08 20:08] ncannasse commented on #203
Thanks @ibilon!

[2016-06-14 18:24] andyli commented on #201
I've just had a look into it. I think it is a good idea to use [Git LFS](https://git-lfs.github.com/), which [Github supports](https://help.github.com/articles/versioning-large-files/), to store the binaries. People who want to get/commit the binaries will have to install Git LFS. For those who don't need the binaries, they don't have to do anything, and they will get some plain text "pointer" fil

[2016-06-19 08:44] ncannasse opened #207 "Partners list"
Here's a new partner to be added as part of the supported lists:

Veith System http://www.veith-system.de/
Logo :
![veith-system](https://cloud.githubusercontent.com/assets/1022912/16176276/bebf2386-360a-11e6-9ec4-8ec13adcf11c.png)

[2016-06-20 07:43] ncannasse commented on #207
Please also remove Stencyl.

[2016-06-20 07:54] markknol commented on #207
I've put it on staging https://github.com/HaxeFoundation/haxe.org/pull/208

[2016-06-20 07:55] markknol commented on #178
We now have blog.haxe.org, which redirects to the blog.

[2016-06-20 07:55] #178 closed

[2016-06-20 09:24] ibilon commented on #207
On master now.

[2016-06-20 09:24] #207 closed

[2016-06-20 09:44] ncannasse commented on #207
Thanks!

[2016-06-29 15:44] andyli commented on #177
Progress: I've just moved haxe.org to AWS Elastic Beanstalk and have enabled https (try it: https://haxe.org/). If everything works fine (no problem reported) and I will move the remaining lib.haxe.org, api.haxe.org, and nekovm.org there as well.

[2016-06-29 16:13] ibilon commented on #177
Works great, awesome work @andyli!

[2016-06-29 16:16] ibilon opened #209 "Blog list, no background image = invalid asset request"
At https://haxe.org/blog/

Ends up asking for `https://haxe.org/blog/this-is-not-the-variable-you-are-looking-for/files/null?w=1600` which return error 500.

Also happens for "New language feature: import.hx".

Should be easy to fix, will look at it.

[2016-06-29 16:23] ibilon commented on #177
Actually spoke too soon, got connection issue on firefox,
it loads ok (even without cache) on chrome, but fails with "Unable to connect" on firefox,
same for curl/wget "Failed to connect to haxe.org port 443: Connection refused".

No issue for https://staging.haxe.org

[2016-06-29 16:59] nadako commented on #177
neither https://haxe.org, neither https://staging.haxe.org work for me :(

[2016-06-29 17:00] ibilon commented on #177
It works on my laptop, so I checked with ping and I don't get the same ip, must be a dns issue.

[2016-06-29 22:32] andyli commented on #177
I'm not sure but I also guess it is a temp dns issue.
The TTL is set to 3 hours in the previous DNS (gandi.net's). Now we're using Amazon's DNS servers with TTL set to 5 minutes (easy for me to make changes).
So I guess in the first 3 hours it may still be possible to resolve to the old server. Do you guy still have problem now?

[2016-06-29 22:51] nadako commented on #177
works for me now

[2016-06-30 16:30] ibilon commented on #177
All good for me too.
Should be fine to redirect http to https.

[2016-07-05 08:49] Simn opened #212 "Update Haxe Windows building"
Get rid of the MSVC instructions and go with OCaml 4 instead.

@nadako @ncannasse

[2016-07-05 09:28] nadako commented on #212
We should decide what version we use. Nicolas was using this OCPWin thing, while I had no success installing it. This one works for me tho: http://protz.github.io/ocaml-installer/ (and there's a build instruction for it on the website)

[2016-07-05 10:26] nadako commented on #212
I somehow managed to build [merlin](https://the-lambda-church.github.io/merlin/) on that ocaml and this now works for me: https://github.com/hackwaly/vscode-ocaml. We should find out the exact steps for that tho.

[2016-07-21 11:40] ncannasse commented on #212
@nadako what kind of error did you get by using OCPWin?
Would anyone with a "clean" windows machine could try?

[2016-08-13 09:36] ncannasse opened #213 "Broken img"
On this page one image is not loading:
http://haxe.org/use-cases/who-uses-haxe.html

[2016-08-13 10:18] ibilon commented on #213
The file is `https://haxe.org/img/partners/knowledge-players-logo.png`,
and was removed by https://github.com/HaxeFoundation/haxe.org/commit/24b67659974f7c7b41028d413d4da24d0136bf04

Should it be added back? or removed from "Companies using Haxe"?

[2016-08-13 10:29] ncannasse commented on #213
it should be added back, also e-buzzing logo should be resized down maybe :)

[2016-08-15 12:22] ibilon commented on #213
done.

[2016-08-15 12:22] #213 closed

[2016-08-20 10:41] skwerlman opened #214 "lib.haxe.org cross tag errors"
Attempting to view the cross tag on lib.haxe.org (http://lib.haxe.org/t/cross/) results in an uncaught error.

[2016-08-20 15:23] ibilon commented on #214
That's a haxelib issue, could you reopen at https://github.com/HaxeFoundation/haxelib?
Thanks.

[2016-08-20 15:23] #214 closed

[2016-08-21 01:34] skwerlman commented on #214
Done: HaxeFoundation/haxelib#342

[2016-08-26 14:05] ibilon commented on #166
detox needs a new fix for 3.3 https://github.com/ufront/detox/pull/43

Also haxe doesn't ship jquery anymore, so detox can't include it https://github.com/ibilon/detox/blob/master/src/dtx/Tools.hx#L343 so which project should include it?
Also I checked and haxe 3.2.1 included jquery 1.6.1 which is old, what version does haxe extern uses? @andyli

[2016-08-26 16:03] markknol commented on #166
Why is a macro needed to include jquery?

We already include Haxe here:
https://github.com/HaxeFoundation/haxe.org/blob/staging/www/js/jquery.min.js
http://haxe.org/js/jquery.min.js

[2016-08-26 16:13] #209 closed

[2016-08-26 16:33] ibilon commented on #209
Still one left with error 500, in https://haxe.org/blog/haxe-api-documentation-tool it tries to load https://haxe.org/blog/haxe-api-documentation-tool/files/dox-update.png?w=1600 but `failed to download s3://haxe-blog/blog-uploads/19/dox-update.png to /var/www/html/uf-content/blog-uploads/19/dox-update.png`
@markknol could you check if your post really has the image? and if it does could you try r

[2016-08-26 20:34] markknol commented on #209
It had one but got lost somewhere after publishing it. Will reupload soon.

[2016-08-30 18:33] ibilon commented on #166
It's the detox lib that requires it and choose to include it rather than asking the user to do it.

[2016-08-30 18:36] ibilon commented on #177
One of the last http resource called when using https is the gravatar on the blog,
will be fixed by https://github.com/ufront/ufblog/pull/2

[2016-08-31 09:47] jasononeil commented on #166
@markknol @ibilon Is there anything specific you need from me? I hadn't been following this issue but happy to help with a patch, library release, adding you guys as contributors etc

[2016-09-08 19:07] jcward opened #218 "Ideally lib.haxe.org social metadata should describe the library, not haxe itself"
It's a small issue, and perhaps debatable, but:

**The issue:** When posting links on social media to haxe libraries (e.g. http://lib.haxe.org/p/hx-color-trace) -- the post shows a description of Haxe itself:

![image](https://cloud.githubusercontent.com/assets/2192439/18362732/3530f140-75c4-11e6-9d38-73b3afc3b72f.png)

There's a set of metadata tags that set the description for each page. I suspe

[2016-09-08 19:27] nadako commented on #218
summon @markknol \o/

[2016-09-08 20:20] markknol commented on #218
Good point, will look into this.

[2016-09-08 20:22] markknol commented on #218
Btw I close it here, since there seems already a related ticket for it on haxelib. https://github.com/HaxeFoundation/haxelib/issues/328

[2016-09-08 20:22] #218 closed

[2016-09-08 20:32] markknol commented on #166
@jasononeil it would be great it if you help us out with this! Im not very into the ufront part of the site so if you could check Simons issues that would be awesome!
(Btw good to see activity from you, hope you're good!)

[2016-09-08 20:35] markknol commented on #98
@merelleya is this still a thing? Otherwise lets close the ticket.

[2016-09-08 20:35] jcward commented on #218
Ah, I didn't know whether to file on haxe.org or haxelib, and checked here for dupes, but not there. Thanks, Mark and Dan.

[2016-09-08 20:41] markknol commented on #218
No problem, thanks for reminding me :)

[2016-09-13 08:29] markknol opened #219 "404 page - top navigation is incorrect"
http://staging.haxe.org/so-wrong/so-wrong

It also displays some pages that shouldnt be there.

[2016-09-13 08:36] ibilon commented on #219
https://github.com/HaxeFoundation/haxe.org/blob/staging/src/app/view/error.html

it's not templated so it ends up out of sync

[2016-09-13 08:36] #219 closed

[2016-09-13 08:38] markknol commented on #219
I copy pasted the generated nav to it.

[2016-09-14 16:28] ncannasse opened #220 "New partner!"
Could someone update the partners list by adding Gamesys using one of the following logos (resized) as part of the HF supporters?

Thanks

![gamesys-logo-01](https://cloud.githubusercontent.com/assets/1022912/18520629/f0280036-7aa8-11e6-93b4-dabbe2b44328.png)
![gamesys-logo-01-1](https://cloud.githubusercontent.com/assets/1022912/18520628/f016fb60-7aa8-11e6-8f35-2e664c3f67e3.png)
![gamesys-logo-02

[2016-09-14 16:29] ncannasse commented on #220
PS : URL is http://www.gamesyscorporate.com/

[2016-09-15 09:11] RenKloppers commented on #220
Great, thanks for this Nicolas, looking forward to the preview.

[2016-09-15 18:23] ibilon commented on #201
What about a simple ftp server?
Since the binaries aren't versionned and don't need to be in the repo at all.

[2016-09-15 18:35] Simn commented on #201
FTP server, fancy git solutions, burn them on cd-rom and mail them... I don't really mind as long as they're gone from the repository. :)

[2016-09-15 21:13] ibilon commented on #220
It's on staging
http://staging.haxe.org/
http://staging.haxe.org/foundation/

should I push to master?

[2016-09-15 21:28] RenKloppers commented on #220
Looks great! Thank you, happy for you to push the change.

[2016-09-16 07:58] markknol commented on #201
I would propose to put them here:
https://github.com/HaxeFoundation/haxe.org/releases

[2016-09-16 07:59] ncannasse commented on #220
Thanks @ibilon and yes please push

[2016-09-16 10:44] ibilon commented on #220
It's now live.

[2016-09-16 10:44] #220 closed

[2016-09-16 10:48] RenKloppers commented on #220
Many thanks!

[2016-09-16 13:51] ibilon commented on #201
That would be a good place to put them,
but might not be easy to use in the deployment

[2016-09-16 16:17] markknol commented on #201
We can just link directly to the binary on Github ?

[2016-09-16 16:31] ibilon commented on #201
Right, I guess we could :)

[2016-09-20 13:04] markknol opened #221 "redirect http to https"
Now we have SSL on our website, it would be nice if we can setup the server to redirect from http to https.
How something like this work in ufront?

[2016-09-20 13:08] ibilon commented on #221
Do you want to deal with this at ufront level?
I'd use the apache rewrite module.

[2016-09-20 13:10] markknol commented on #221
Ah yes thats fine too.

[2016-09-26 10:12] markknol commented on #201
Update: I've put all downloads (binaries + api) including the release notes to this page:
https://github.com/HaxeFoundation/haxe/releases

Now as I understand the source correctly, the releases.json files is modified and cached compile-time. and the sources of the downloads are read from filesystem. We need to change this, because if we remove the soures from the repo, there are no downloads on fi

[2016-10-24 15:18] ex commented on #77
Norton is flagging the latest haxelib with this virus: Heur.AdvML.B, pretty annoying

[2016-10-25 18:29] andyli commented on #77
Was it the one bundled in haxe 3.3rc?
Would you help submit it to norton as false positive?

On Oct 24, 2016 11:18 PM, "Laurens Rodriguez" <notifications@github.com>
wrote:

[2016-10-25 23:35] ex commented on #77
@andyli it was the latest build from github.
Yes I can submit it to Norton as a false positive, not sure if they would give me their attention, is there a procedure for this? Never reported something as false positive.

[2016-10-26 01:55] andyli commented on #77
Just google "norton submit false positive" ;)

[2016-10-27 14:16] ex commented on #77
I did this and they added the file to their whitelist, however I guess this needs to be done every time the file changes, Does haxelib.exe change so much?:
[code]

[2016-10-27 15:01] ibilon commented on #77
The haxelib.exe is different in each haxe release, so no not often ;)

[2016-11-18 05:05] jgamedev opened #222 "Heaps Engine missing from game tools list"
N. Canasse's Heaps reference is missing in this page:
https://haxe.org/use-cases/games/

[2016-11-19 09:41] ncannasse commented on #222
I think we should remove HaxePunk which is no longer maintained, and maybe also add KHA

[2016-11-19 11:52] ibilon commented on #222
Haxepunk got some activity recently, flambe though doesn't seem maintained any more.

I agree about ading Kha, but I don't think heaps is popular enough yet.

[2016-11-19 12:10] markknol commented on #222
Well flambe still works, we use it for lots of projects. I think the goal of this list is to provide options so lets not remove stuff. Adding heaps/kha is a good idea.

[2016-11-22 13:10] ncannasse opened #223 "Blog Header Image"
Uploading an header image for the blog seems to be broken, I'm getting the following error in console:
`app.min.js:1 ufblog.posts.SetupEditFormAction.setupHeaderUploadHandler()[146]: Failed: Error: Error with response for ufblog.posts.AttachmentApi.uploadHeaderImage(22,[object Object]): no remoting response found AttachmentApiAsync.uploadHeaderImage:0`

[2016-11-27 13:34] clemos commented on #177
Hi ! What should I do to setup https://try.haxe.org ?
https://github.com/HaxeFoundation/haxe.org/issues/183

[2016-11-29 11:19] Simn commented on #83
Does anyone know how we could support this? Maybe @kevinresol?

[2016-11-29 14:39] kevinresol commented on #83
hm... I have zero knowledge about the site.
Needa take some time to read through the source, I can try to find some time for that.
But would be best if @jasononeil spend some short time on it.

[2016-11-29 14:46] kevinresol commented on #83
I wonder if we can simply create the same page for `latest` on which browser will auto start downloading the latest binary. Then we will have GA for hits on `latest`. And since release dates are known we can sort out what the latest version is for each period.

[2016-11-29 15:25] markknol commented on #83
If someone is going to look at this, then it might also be a good time to pick this up too https://github.com/HaxeFoundation/haxe.org/issues/201

[2016-12-06 20:19] ibilon commented on #222
Done in #224

[2016-12-06 20:19] #222 closed

[2016-12-11 21:27] ibilon commented on #223
With the new code the background image is added to the repo, so that won't be a problem anymore.

[2016-12-11 21:27] #223 closed

[2016-12-11 21:28] ibilon commented on #212
Was that fixed by https://github.com/HaxeFoundation/haxe.org/commit/dd732e37fa797fabfb9cbdc1886b49fe916fed47?

[2016-12-11 21:29] Simn commented on #212
Yep!

[2016-12-11 21:29] #212 closed

[2016-12-11 21:29] ibilon commented on #201
Done it the new code.

[2016-12-11 21:29] #201 closed

[2016-12-11 21:30] ibilon commented on #174
With the new code the post (and their images) are on the repo, so that's free versioning.

[2016-12-11 21:30] #174 closed

[2016-12-11 21:32] ibilon commented on #166
Not an issue anymore.

And actually the new core requires haxe dev for now until https://github.com/HaxeFoundation/haxe/commit/7aba7abe74190704e92b4af3a0b51fb55491abd9 makes it into a release.

[2016-12-11 21:32] #166 closed

[2016-12-11 21:33] ibilon commented on #151
Not an issue anymore.

[2016-12-11 21:33] #151 closed

[2016-12-11 21:34] ibilon commented on #143
That's a dox issue.

[2016-12-11 21:34] #143 closed

[2016-12-11 21:37] ibilon commented on #105
Only haxelib doesn't have the new layout, can be followed there https://github.com/HaxeFoundation/haxelib/pull/327

Will look at it after the haxe.org changes.

[2016-12-11 21:37] #105 closed

[2016-12-11 21:38] ibilon commented on #98
I guess that's too old now, and if not just add it to the blog ;)

[2016-12-11 21:38] #98 closed

[2016-12-11 21:41] ibilon commented on #77
So what actions should we take?

Voting for the code signing,
it also makes it more professional looking when windows report that the exe wants administrator rights.

Would be nice to have this resolved for the stable release of 3.4.

[2016-12-11 21:44] ibilon commented on #7
The uses cases have enough content, let's close this issue and open a new one on a case by case basis.

[2016-12-11 21:44] #7 closed

[2016-12-11 21:44] ibilon commented on #6
The uses cases have enough content, let's close this issue and open a new one on a case by case basis.

[2016-12-11 21:44] #6 closed

[2016-12-11 21:44] ibilon commented on #5
The uses cases have enough content, let's close this issue and open a new one on a case by case basis.

[2016-12-11 21:44] #5 closed

[2016-12-11 21:44] ibilon commented on #4
The uses cases have enough content, let's close this issue and open a new one on a case by case basis.

[2016-12-11 21:44] #4 closed

[2016-12-11 21:44] ibilon commented on #3
The uses cases have enough content, let's close this issue and open a new one on a case by case basis.

[2016-12-11 21:44] #3 closed

[2016-12-12 10:07] ibilon opened #225 "new code issues"
Still a couple of issues/improvements:

* [x] some manual pages aren't properly processed (eg: class-field-dynamic.html)
* [x] manual side nav expend/collapse doesn't work well
* [x] add CHANGES.md back
* [x] finish file download page
* [x] allow api download
* [x] Sort versions.json by semver
* [x] The top page of a subgroup doesn't have prev/next link + sidebar highlight
* [x] The nav bar doesn'

[2016-12-23 20:12] bendmorris opened #226 "Broken "partners" link"
Clicking "Haxe Foundation > About The Foundation" (http://staging.haxe.org/foundation/) leads to a page with a broken "the companies supporting haxe" link (http://haxe.org/foundation/partners.html)

[2016-12-23 21:01] #226 closed

[2016-12-23 21:02] ibilon commented on #226
Thanks for the report.

The commit that broke the link: 9b570386ce1546fc07e00eee9809960f7821e66c.

[2016-12-24 09:43] #83 closed

[2016-12-24 09:45] ibilon commented on #83
Stable html landing page with releases notes, links, ...
https://haxe.org/download/file/latest/haxe-latest-linux64.tar.gz/

Direct url
https://haxe.org/website-content/downloads/latest/downloads/haxe-latest-win.exe

[2016-12-24 14:46] ibilon commented on #225
All issues have been addressed, only improvements left on the list.

[2016-12-25 11:06] ibilon commented on #221
Now that we have neither ufront nor apache we'll need something else,
@andyli does S3 have anything to do that?

[2016-12-25 12:52] andyli commented on #221
I configured CloudFront to do http -> https redirect for staging.haxe.org. It should work within an hour. After we checked that's ok, I can set up the same thing for haxe.org.

[2016-12-25 19:41] ibilon commented on #177
To be all https we still need to add it to:
* api.haxe.org
* try.haxe.org
* haxedevelop.org (we're the ones maintaining it?)
* old.haxe.org
* code.haxe.org
* http://hxbuilds.s3-website-us-east-1.amazonaws.com/builds/haxe/index.html
* learn.haxe.org
* hashlink.haxe.org
* nekovm.org

quite a lot :)

[2016-12-29 11:29] xiangjiabanana opened #227 "Chinese strings as constant in .hx file not work right"
hoping for more infomation . I want to write some Chinese strings as constant. but it seems to go wrong!

[2016-12-29 11:34] ibilon commented on #227
Please reopen your issue at the haxe compiler repository https://github.com/HaxeFoundation/haxe
including more information such as:: haxe version, code sample and what you mean by "go wrong".

[2016-12-29 11:34] #227 closed

[2017-01-02 02:38] madneon opened #229 "Bogus focus for #search input"
The input field gains focus on **every** keypress on the page because of:

I think it's not a good idea, as it prevents for scrolling the page with arrow keys or Page Up/Page Down keys. Some readers have also "quick search on typing" turned on, making this forced focus even more annoying.

Can we change this behaviour?

[2017-01-02 18:16] ncannasse opened #230 "Partners Changes"
Happy new year !

Two changes are to be made to the partners list:

- removal of ChameleonJohn
- addition of InnoGames (here's the logo source
![innogames](https://cloud.githubusercontent.com/assets/1022912/21594185/db20fd1e-d11f-11e6-86c3-e0133427856b.png) https://www.innogames.com/

[2017-01-04 01:41] mtelesha opened #231 "OpenSUSE Not Updated - Currently version 3.2.1 is avilable on OpenSUSE"
https://build.opensuse.org/package/show/openSUSE:Factory/haxe = 3.2.1

https://build.opensuse.org/package/show/devel:languages:haxe/haxe   = 3.2.1

OpenSUSE is my Development Machine's OS and I was a tiny bit disappointed that it was behind.

[2017-01-04 02:57] andyli commented on #231
This is intended because currently Haxe 3.4, and 3.3, are just release candidates. They are not really releases. I will update the packages when 3.4 is final.

In the mean time, you may try to compile Haxe from source and it's actually pretty simple: https://haxe.org/documentation/introduction/building-haxe.html

[2017-01-04 02:57] #231 closed

[2017-01-06 11:39] ncannasse opened #232 "Donate text"
I finally found why I'm getting a lot of email spam from various companies which want to support Haxe.

The following paragraph is in Donate section:
```If you are planning to give more than 500€ or $500, we would love to include a logo of your company to thank you for your support. Logos can be sent to contact@haxe.org.```

Could it be replaced by:

```If you are a company and want to get additio

[2017-01-06 12:28] zabojad opened #233 "haxe.org sub domains"
Hi there !

I've just noticed that any subdomain on haxe.org returns a "It works" page. It doesn't look very clean, maybe you should return a nice HTTP 404 as Github does for example :

http://hapi.haxe.org/
http://toto.haxe.org/

http://toto.github.io/

[2017-01-06 12:28] ncannasse commented on #232
Just for the record since it's maybe not been well interpreted:

A lot of companies from china etc want to give $500 to get their logo on the website to boost their pagerank or something. They don't have anything to do with haxe and I don't think we should sell this kind of disguised advertisement on our website

[2017-01-10 07:55] Simn opened #234 "Nested lists are not rendered correctly anymore"
Compare https://haxe.org/documentation/introduction/building-haxe.html and https://github.com/HaxeFoundation/haxe.org/blob/staging/pages/documentation/introduction/building-haxe.md

[2017-01-13 11:07] anissen opened #236 ""A taste of Haxe" frame unavailable due to missing HTTPS"
The "_A taste of Haxe_" frame on the frontpage of [haxe.org](http://haxe.org/) is unavailable. Observed using the latest Chrome and Safari on Mac.

Here's the error description:

Heads-up @markknol @ibilon @andyli

[2017-01-13 11:09] Simn commented on #236
Fixed by https://github.com/HaxeFoundation/haxe.org/commit/7fecd2500eae9c05fad45b89e8e0ef75dd140e7b

[2017-01-13 11:09] #236 closed

[2017-01-13 11:09] ibilon commented on #236
I merged #235 until we add https to try haxe.

[2017-01-13 11:09] anissen commented on #236
Oh, my bad! That was using https://haxe.org/ (HTTPS) and not simply http://haxe.org/ (HTTP)

[2017-01-13 11:23] Simn commented on #236
Yes, we knew about this and there was a PR to fix it, somebody just had to press the button.

[2017-01-18 09:23] #230 closed

[2017-01-18 09:26] ibilon commented on #230
I noticed that the home page has veith system as partner but not the foundation page, which has stencyl.

@ncannasse which partners are supposed to be there?

[2017-01-18 09:29] #232 closed

[2017-01-18 13:08] ncannasse commented on #230
Veith System should, Stencyl should not :)

[2017-01-19 22:40] Misiur opened #237 "Invalid link in manual"
https://haxe.org/manual/types-nullability-optional-arguments.html

Link in trivia box points to nonexistant `.md` file while `.html` one exists.

[2017-01-22 20:19] dnistreanu opened #238 "http://haxe.org/api page is not displayed/have no content."
http://haxe.org/api page is not displayed/have no content. **Where I can get all API info ?** Thanks.

[2017-01-22 20:36] ibilon commented on #238
http://api.haxe.org/

I don't think http://haxe.org/api ever existed, where did you got this link?

[2017-01-22 20:58] dnistreanu commented on #238
http://haxe.us/haxe_tutorial.html , I got this link for an interview appointment and I need haxe API to learn it.

[2017-01-22 21:16] ibilon commented on #238
That tutorial is too old, its examples wont work with a recent haxe.

The links are from the old old haxe.org version, not much that can be done.

[2017-01-22 21:16] #238 closed

[2017-01-22 21:33] dnistreanu opened #239 "Haxe tutorial for beginners with actual mini apps examples ?"
Beside http://haxe.org/manual is any recommended source to learn haxe development while creating actual mini apps ?  If not I think it would be a good idea. Thanks.

[2017-01-22 22:03] Simn commented on #239
This is not an actionable issue. If you have a question, refer to one of the communication channels listed here: https://haxe.org/foundation/contact.html

[2017-01-22 22:03] #239 closed

[2017-01-23 08:58] markknol commented on #239
@dnistreanu Not sure if you are aware, but there is http://code.haxe.org, where we collect code snippets and more real life examples of how to use Haxe in practice.

[2017-01-23 09:03] markknol commented on #238
I've added a redirect for that on staging

[2017-02-06 14:50] clemos commented on #177
As HTTPS is also required for [try.haxe embeds](https://github.com/clemos/try-haxe/issues/105#issuecomment-277701450), I would be happy to setup HTTPS on my try.haxe server.
Can someone from the foundation help me ?

[2017-02-06 15:31] frabbit commented on #177
hey @clemos, this is a good tutorial for letsencrypt https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04

[2017-02-06 15:56] clemos commented on #177
I (more or less) know how to do that, but I thought maybe using a global `haxe.org` certificate would be possible / easier ?

[2017-02-07 21:12] dagnelies opened #245 "Home page redesign"
Hi,

I used to use HaXe long ago, back in the historical days when it was still the old site and when HaXe was transitioning to version 2.

Now I came back, saw the new site and though...

- first: wow, it looks good, fresh and modern
- after little moment: dammit, the content went from useful into diluted distracting bla bla

---

To illustrate my point, on the old site, just by looking at it, yo

[2017-02-07 21:46] markknol commented on #245
Thanks for your feedback! Making the homepage cleaner is on our list for sure :)

[2017-02-08 08:41] dagnelies commented on #245
I apologize for the rudeness of my post while I am at it, it was a bit of a rant. Overall, it's nice to see that things are moving forward ...and Haxe from now on, got it.

[2017-02-09 07:08] andyli commented on #177
Our haxe.org cert is issued by AWS. I'm not sure if it is possible to use it in non-AWS servers.
I guess using letsencrypt for try.haxe.org would be simplier.

[2017-02-10 07:24] aliokan opened #247 "versions.json Error 404 on website"
The file still in [sources code](https://github.com/HaxeFoundation/haxe.org/blob/staging/downloads/versions.json), but not found on the website : http://haxe.org/website-content/downloads/versions.json

I have tried to find why is not available any more, without success.

[2017-02-10 08:48] andyli commented on #247
Probably it is because the file is not copied to the destination folder during site generation.

@ibilon Can we copy that also? I think the version info is quite useful for 3rd-party automation. I can probably use that for TravisCI Haxe support too.

[2017-02-10 08:48] ibilon commented on #247
It's a configuration file, doesn't need to be available online.

You can download it through github https://raw.githubusercontent.com/HaxeFoundation/haxe.org/staging/downloads/versions.json

[2017-02-10 08:49] ibilon commented on #247
@andily ok, I'll add it

[2017-02-18 21:04] #247 closed

[2017-02-19 15:20] markknol commented on #165
I think this can be closed for now. Thanks!

[2017-02-19 15:20] #165 closed

[2017-02-19 16:01] markknol commented on #175
Done https://github.com/HaxeFoundation/haxe.org/commit/5f2943a6b5e490bdc25765ee372ab0319c4bc6c3

[2017-02-19 16:01] #175 closed

[2017-02-19 17:55] ibilon commented on #237
Fixed on staging by 45b8a5ac4b36f757fef076f5d694c776882dcde3, live soon.

[2017-02-19 17:55] #237 closed

[2017-02-19 17:56] ibilon commented on #141
Let's merge this issue with #245

[2017-02-19 17:56] #141 closed

[2017-02-19 17:58] #225 closed

[2017-02-19 17:59] #39 closed

[2017-02-19 18:26] ibilon opened #248 "Replace the custom syntax highlighter"
For the haxe code:

* look into pre processing it
* or use the emscripten version of what vscode does (it's slow but there's not much code)

For others (snippets of js/lua ...) find a js library for it.

[2017-02-19 20:57] markknol commented on #248
Do we have lua snippets?

[2017-02-19 21:46] ibilon commented on #248
Just one in https://haxe.org/blog/hello-lua/

[2017-02-22 09:07] MatthijsKamstra opened #249 "Replace/update Google Site Search"
this: https://enterprise.google.com/search/products/gss.html

it seems that the new price will be $100 per year for 20.000 search queries /yr

[2017-02-28 11:59] Justinfront opened #250 "Compiler Targets should mention Node, javascript is not explicit enough?"
https://github.com/HaxeFoundation/haxe.org/blob/staging/pages/documentation/introduction/compiler-targets.md

Compiler Targets should mention Node, javascript is not explicit enough?  Nodejs was added to Haxe ecosystem with the release of hxNodejs haxelib so much later than javascript itself, this is somewhat similar to PHP and PHP7 and flash and AS3.  It's important to mention Node because of it'

[2017-02-28 12:03] Simn commented on #250
The target language is JavaScript. Whether you run it through node, pass it to your browser or print it out makes no difference.

[2017-02-28 12:03] #250 closed

[2017-02-28 12:13] Gama11 commented on #250
Also, there's a NodeJS logo here:

![](http://i.imgur.com/mhvlDmw.png)

[2017-02-28 12:13] markknol commented on #250
That is just marketing, just like the ios/android logo.

[2017-02-28 12:28] nadako commented on #250
Actually, genjs has some explicit nodejs support (escaping its globals, like `process` and whatnot)

[2017-02-28 13:32] ibilon commented on #250
Last time we discussed this we concluded that considering the limited support of nodejs through hxnodejs it wasn't the best to say we support nodejs as a target.

[2017-02-28 14:57] Justinfront commented on #250
For Marketing it makes a difference the appearance of the word "Node" on the page is worthwhile.

[2017-02-28 17:56] markknol commented on #250
We support node, but its not a target.

[2017-02-28 19:33] ncannasse commented on #250
I agree that from a marketing perspective adding a Node logo would be worthwhile

[2017-03-01 13:32] ibilon opened #251 "Add subsection anchor to all content"
For now it's only applied to the manual, https://github.com/HaxeFoundation/haxe.org/blob/staging/src/generators/Manual.hx#L211
but the documentation could use it, the blog too.

Also maybe change the style to something more common like https://gfycat.com/PopularPlayfulCrocodile

[2017-03-01 16:37] markknol commented on #251
When you have changed it, let me know, ill apply the same thing to the cookbook for consistency.

[2017-03-09 04:45] EricBishton opened #252 "try.haxe.org compiles forever. (Probable compiler issue.)"
Given the following code, the web site goes into the compiling phase and never comes back.

[code]

[2017-03-09 05:02] EricBishton commented on #252
Hmm.  I take this back.  Nothing (even the default text) compiles right now, so the whole thing is having trouble.  (Though, the above code _might_ have been at fault in the first place.)

[2017-03-09 05:02] #252 closed

[2017-03-09 15:13] jcward opened #253 "try.haxe.org not compiling"
Hitting Build / Run just freezes at "compiling...", no output is ever observed.

![image](https://cloud.githubusercontent.com/assets/2192439/23756195/21d2af4c-04a0-11e7-9dc4-b5e8ea215b2c.png)

Check on the compiler server?

Sorry if this isn't the right repo for this issue.

[2017-03-09 15:16] jcward commented on #253
Ah, the console dumps a stack trace. Maybe it's out of disk space? Seems like it can't write the temp file:

[code]

[2017-03-09 15:22] Gama11 commented on #253
In the menatime, http://try-haxe.mrcdk.com/ still appears to work fine.

[2017-03-09 19:33] markknol commented on #253
Or you run your own local build

[2017-03-10 19:08] jcward commented on #253
Seems to be working today. I wonder if it was temporary, or if someone nudged the server. Anyway, I'll close this.

[2017-03-10 19:08] #253 closed

[2017-03-10 22:41] ibilon commented on #253
@clemos said on twitter that the disk was full (your hypothesis was right) and he clean up some space

[2017-03-13 20:16] asciiascetic opened #255 "Haxe 3.4.0 64 bit linux binaries download is wrong file"
Having installed 3.4.0 only a week ago, I wanted to install it again on another machine, but was met with this curiosity:

![wrong-archive](https://cloud.githubusercontent.com/assets/1368610/23873192/80f45830-0807-11e7-8903-11aa31729de3.png)

I noticed that the download size is a mere 132 bytes!! Wow, I thought, "the `haxe` compiler must be coded in some kind of interdimensional, informationally m

[2017-03-13 20:27] markknol commented on #255
While Haxe is indeed an amazing cross universe language, this is not intended and we are going to look into it.

[2017-03-14 01:24] andyli commented on #255
From [Travis log](https://travis-ci.org/HaxeFoundation/haxe.org#L303-L306):
[code]
Turn out the data quota is pretty low... See https://help.github.com/articles/about-storage-and-bandwidth-usage/
I think this is a recent change?

I guess we have to use GitHub release instead of LFS...

[2017-03-14 07:38] Simn commented on #255
Oh man, how did we miss this... I understand GitHub has to make money somehow, but this model won't work for us.

@ibilon: This is a bit of an urgent problem. Any contingency plans?

[2017-03-14 07:39] andyli commented on #255
I've just manually replaced the 3.4.0 and 3.2.1 download files in S3. So at least people can get those for now.
I'm still not sure what is the right way of fixing this... since we discussed before, mapping old urls to GitHub release urls is hard (if not impossible). May be we have to throw away the old urls and breaks ppls automation...

[2017-03-14 15:05] back2dos opened #256 "Old binaries are broken"
Trying to download 3.1.3 gives me a file with this content:

[code]

Pretty sure this worked a while ago.

[2017-03-14 15:06] Simn commented on #256
We are aware of the issue, see #255.

[2017-03-14 15:06] #256 closed

[2017-03-15 09:03] andyli commented on #255
I kind of have set up the redirection of old urls -> github releases. Can anyone double check if I have missed anything by testing staging.haxe.org?

The way it works now is to call the aws s3 api for each of the files, and set up redirection to github releases. It is done in Travis.

If everything goes well, we need to do the following:
 * merge staging to master
 * modify src/generators/Download

[2017-03-15 09:11] andyli commented on #255
Noticed that v1.19 is listed in versions.json but there is not corresponding files in GitHub release. @markknol Would you double check if there is any other versions that are missing and upload them?

[2017-03-15 09:17] ibilon commented on #255
That was the code used to fetch info from github https://github.com/HaxeFoundation/haxe.org/blob/ac628b50ee09a3eb85cc04b032970731989ba890/src/GenerateVersionsJson.hx

I think I remember some issues with some naming, I'll check it.

@andyli is the removing from history step required? the git lfs files aren't big

[2017-03-15 09:24] andyli commented on #255
Not necessary indeed. There are ~450MB files, that's about 50% of the lfs free storage quota... but it's not like we will use lfs anymore anytime soon...

[2017-03-16 03:28] andyli commented on #255
Okay, based on @ibilon's code, I've revised src/generators/Downloads.hx in https://github.com/HaxeFoundation/haxe.org/commit/0408bd1ef7c1681f17e2de8070b84b178b14d84f

[2017-03-16 09:01] markknol commented on #255
Looks good to me!

[2017-03-16 15:25] andyli commented on #255
Merged to master, seems to work correctly.

[2017-03-16 15:25] #255 closed

[2017-03-17 09:09] ncannasse commented on #255
Ah, that was what this GIT LFS email I got was about ! It was not very clear to me what they meant by "LFS" and how we were using it :)

[2017-03-23 19:56] stoltzld opened #257 "Offline API documentation"
The link to the offline api documentation @ https://haxe.org/documentation/introduction/ doesn't work.  I tried putting 3.4.1 where 3.2.0 was in the url and that doesn't work either.

[2017-03-26 10:41] #257 closed

[2017-04-11 09:17] clemos commented on #177
FYI it is done for try.haxe.org ;)

[2017-04-17 17:53] flashultra opened #260 "Add social share buttons"
Many sites offer easy way to share ( at example AddThis http://www.addthis.com/  ) .
Haxe.org already use opengraph data, so I think some share button on home page will help.
Also one strange thing which I saw. Haxe site is well optimized for keyword "cross platform toolkit", but according google this keyword have only  up to 100 searches/monthly.
  For other keywords such as:
-  "mobile app devel

[2017-04-17 18:39] markknol commented on #260
Have you ever used such share functionality on a website? I think most users know how to copy paste a link to facebook/twitter. Nevertheless it might be a good addition for the blog.

[2017-04-17 20:28] markknol commented on #260
Ill close this issue for now

[2017-04-17 20:28] #260 closed

[2017-04-17 20:29] markknol commented on #221
Since try.haxe now is https too, I think we can turn this on on haxe.org too.

[2017-04-17 20:32] markknol commented on #234
@nadako fixed this case here https://github.com/HaxeFoundation/haxe.org/commit/147ba15b23c7b2de0184e58e7f55bc7fe220fa51

Other than that, this is a haxe-markdown issue, see https://github.com/dpeek/haxe-markdown/issues/17 and https://github.com/dpeek/haxe-markdown/issues/19

[2017-04-17 20:34] #234 closed

[2017-05-06 15:39] ncannasse opened #262 "Windows build instructions"
Windows build instructions should be changed to use Ocamhaxe distribution.
All the part about installing Cygwin/Ocaml can be replaced by:

- download ocamhaxe from https://github.com/HaxeFoundation/ocamhaxe/releases
- unzip and run `config.bat`

[2017-05-19 03:09] mrcdk opened #264 "Linux binaries aren't listed in the download page"
Windows and OSX have the option to download their binaries but Linux only offers the option to download it from the different package managers. I think that there should be a button to download Linux binaries too.

I know there is a link to download them like http://haxe.org/download/file/3.4.2/haxe-3.4.2-linux64.tar.gz/

[2017-05-19 08:23] andyli commented on #264
I purposely removed them from the download page in https://github.com/HaxeFoundation/haxe.org/commit/930f65c671b6ef85070707c94148b4a648aa9d67.
Mainly because we have no info on how to install them, and I'm too lazy to write down all the corner cases of that...

Any reason you want to get them?

[2017-05-19 08:54] ibilon commented on #264
It's useful when you don't have root access (and so to the package manager) and don't want to compile haxe yourself.

[2017-05-19 15:29] mrcdk commented on #264
Most people won't need to, but I was trying to install it by hand so I could go from one version to another.

[2017-07-04 22:39] masood1349 opened #267 "Mobile showcase suggestion"

[2017-07-04 22:56] markknol commented on #267
What is the suggestion?

[2017-07-06 18:08] masood1349 opened #268 "Use-case suggestion"

[2017-07-06 19:10] ibilon commented on #268
You need to provide an actual suggestion.

[2017-07-06 19:10] #268 closed

[2017-07-06 19:10] ibilon commented on #267
You need to provide an actual suggestion.

[2017-07-06 19:10] #267 closed

[2017-07-06 19:18] markknol commented on #268
Looks like a spamaccount

[2017-07-10 08:53] back2dos opened #269 "Link to Summit"
It has just been pointed out that having a link on the landing page might be a good idea.

[2017-07-10 09:56] markknol commented on #269
Good idea, will pick this up

[2017-08-20 22:40] #269 closed

[2017-08-20 22:40] markknol commented on #269
http://haxe.org/

[2017-08-30 19:01] jcward commented on #264
Yes, I just came here to file this same issue. This irritates me as well for these reasons:

- I don't like the package managers because I prefer to know exactly what's going on when installing software.
- As said above, package managers require root
- Package managers are a pain and repos always manage to fall out of date (does it have the right version of Haxe for my flavor of linux, which are n

[2017-09-11 19:01] bubblebenj opened #271 "migrate to Google Custom Search Element API 2.0"
I've received today a mail from google to update the search engine (because I created on the old haxe website). Here is it's content:

[2017-09-12 06:42] markknol commented on #271
Hi, Thanks for notifying! But we already had a ticket for it.
I close it since it is a duplicate of https://github.com/HaxeFoundation/haxe.org/issues/249

[2017-09-12 06:42] #271 closed

[2017-09-12 18:58] bubblebenj commented on #271
Humm, actually I've seen it but didn't know what it was about since I don't remember fees were involved.
I believe GSS (for enterprise) and GCS are two different beast, and the second one (that [we are currently using](https://github.com/HaxeFoundation/haxe.org/blob/staging/pages/search/index.html)) is not discontinued, only v1 will be.

[2017-09-17 07:22] Simn opened #273 "Front-page content redesign"
We want something like this, nicely visualized of course:

* Evaluating Haxe? We can help!
  * I have an Actionscript 3 codebase and need an alternative
    * Other people have done this before:
      * Link to TiVo article
      * Link to something about InnoGames and their approach
      * Link to something about FlowPlay and their approach
    * The conversion is smooth:
      * Link to somethi

[2017-09-17 07:34] Simn commented on #273
Some random thoughts over my morning coffee:

* This should be folded on the first level so users have to pick what they are interested in.
* The content should be presented in a summary + detailed way. For example, the TiVo part should have a brief introduction of what it is they did, with a "read more" link to the full article.
* The contact us page should have an email link to contact@haxe.org

[2017-09-17 09:49] flashultra opened #274 "Support Plans page"
Hi,
First congrats for HaxeSummit ! Really good conference. Thank you for that !
In one of the  the last sessions the topic was about Haxe finance. I check what support plans offers Haxe community ( from http://haxe.org/foundation/support-plans.html ) and one thing came up. Why you no give option for more expensive support plans ( such as Diamond , Gold or something else ) where the price for year

[2017-09-22 14:41] ncannasse opened #276 "Updated partners"
Please add Playtika and Docler to the strategic partners list. I haven't got the logo so you can get them from their respective websites, I'll ask if they want some change once it's available online.

[2017-09-23 12:37] ibilon commented on #276
Neither website has a logo image usable for us.
@ncannasse could you ask them for one?

[2017-09-23 14:51] markknol commented on #276
http://www.itone.lu/sites/itone/files/articles/doclerholding_logo_red.jpg
https://www.playtika.com/sites/all/themes/playtika/images/logo-large.svg

[2017-09-23 19:02] ibilon commented on #276
@markknol ah you're better at this than me :D

@ncannasse it's on staging, tell me if that's ok to merge

[2017-09-25 13:56] Simn commented on #273
Here's some initial content:

--

Evaluating Haxe? We can help!

* I have an Actionscript 3 codebase and need an alternative
	* Other people have done this before:
		* [**TiVo**](https://tivo.com) used to handle the UI of their set-top boxes from a one-million-line Actionscript 3 codebase. They decided to port this codebase to Haxe and had some interesting experiences to share. [Read more...](http

[2017-09-25 14:46] markknol commented on #221
@andyli can we redirect by default?

Also what would it take to have all domains on https?

[2017-09-25 20:01] ncannasse commented on #276
Good to merge, thanks !

[2017-09-26 10:25] Merelleya commented on #273
Love it!

[2017-09-26 18:19] #276 closed

[2017-10-03 07:50] ncannasse opened #278 "Partners update"
Please add FlowPlay (logo here
<img width="250" alt="b_w_full" src="https://user-images.githubusercontent.com/1022912/31114739-d19a9476-a81f-11e7-8926-f28d8fec4e39.png">) to Strategic Partners

Also, please remove McGraw Hill and Proletariat.

[2017-10-03 20:41] markknol opened #279 "Update logos on social media"
Make them work in that circle design.

[2017-10-04 06:26] Simn opened #280 "Distinguish Windows 32/64 bit builds"
Since we're going to have both 32 and 64 bit builds for Haxe 4, it's necessary to distinguish them on the download page. We can use the current file name scheme for 32 bit builds, and use `haxe-3.4.3-win64.exe`/`haxe-3.4.3-win64.zip` for the 64 bit ones.

[2017-10-04 08:01] ncannasse commented on #274
Thank you for the suggestion, but based on the discussion we had with partners so far, the current support plans are appropriate and it would be hard to get more without providing additional services that we don't have for now.

We might still consider adding one more just for marketing reasons so companies don't feel like they are paying the most expensive package, but we have to figure out first

[2017-10-04 08:37] ibilon commented on #278
It's on staging, will push live soon.

[2017-10-04 09:07] ibilon commented on #280
Done (on staging).

[2017-10-04 09:07] #280 closed

[2017-10-04 13:47] #278 closed

[2017-10-08 19:22] ibilon commented on #264
They're back.

[2017-10-08 19:22] #264 closed

[2017-10-09 08:12] markknol opened #281 "Automate api.haxe.org"
Would be nice to make api.haxe.org be automatically deploy theapi docs of the current Haxe version and have a history of older versions online too.

* [x] http://api.haxe.org/v/dev should be latest development version (this is already automatically deployed)
* [x] http://api.haxe.org/v/{tag} should be a released version. These versions could be downloaded from Github releases.
* [x] http://api.hax

[2017-10-10 18:44] cy19890513 opened #282 "minor text issue: https://haxe.org/documentation/introduction/building-haxe.html"
I found a minor text issue on page: https://haxe.org/documentation/introduction/building-haxe.html

Under building on linux -> "On Ubuntu just sudo apt-get neko".
It should be "sudo apt-get install neko"?

missing install in the command.

[2017-10-10 20:19] #282 closed

[2017-10-11 16:07] ncannasse opened #284 "Version compatibility"
I think https://github.com/haxefoundation/haxe#version-compatibility needs either a refresh by adding information about php/java/c#/etc version compatibility or being entirely removed maybe ?

[2017-10-12 09:00] markknol commented on #284
I think we should keep it up to date since it can be quite important, will try to figure out the info.

[2017-10-12 09:15] markknol opened #285 "Compiler targets table looks ugly"
https://haxe.org/documentation/introduction/compiler-targets.html

This table needs `class="table"`

[2017-10-12 09:17] markknol commented on #284
This is my current table

Haxe          | Neko  | SWF    | C#   | Java | Python | HL   | PHP  | LUA  |
----          | ----  | ----   | ---- | ---- | ----   | ---- | ---- | ---- |
2.*           | 1.*   | 8 - 10 |      |      |        |      |      |      |
3.0.0         | 2.0.0 |        |      |      |        |      | 5.1+ |      |
3.1.3         |       |        |      |      |        |      |

[2017-10-12 09:23] RealyUniqueName commented on #284
3.4.0 supports both PHP 5.1 and PHP 7.0 (with -D php7 flag)

[2017-10-27 06:26] andyli commented on #221
lib.haxe.org: https://github.com/HaxeFoundation/haxelib/issues/10
nekovm.org: https://github.com/HaxeFoundation/nekovm.org/issues/15
summit.haxe.org: https://github.com/HaxeSummit2017/organization/issues/25

Other than those, I think I've set up https (with auto redirect) for all other websites. If I miss any, open an issue for me.

[2017-10-27 06:26] #221 closed

[2017-10-27 06:38] andyli commented on #281
I changed http://api.haxe.org/v/dev to http://api.haxe.org/v/development, it's longer but I want to keep the branch name. It's possible to enable api docs upload for other branches too.

For, http://api.haxe.org/v/{tag}, the 3.4_bugfix branch is ready - any tag made on that branch will do the required work. The development branch is not ready yet - will fix soon. Currently only 3.4.4 is available,

[2017-10-27 06:56] Simn commented on #281
Great work!

How exactly does it determine that? Say we release 4.0 and then make a 3.4.9 some time later, which one would win?

[2017-10-27 07:21] andyli commented on #281
It looks at https://api.github.com/repos/HaxeFoundation/haxe/releases/latest.
I thought it will be smart enough to use 4.0, but [stackoverflow](https://stackoverflow.com/a/22838010/267998) tells me it just use the timestamps...
So I will have to fix it too. Thanks for the careful consideration!

[2017-11-15 19:21] SlavaRa opened #286 "[try.haxe.org] Update compiler to 3.4.4"

[2017-11-15 22:25] markknol commented on #286
duplicate of https://github.com/clemos/try-haxe/issues/137

[2017-11-15 22:25] #286 closed

[2017-12-08 09:15] MatthijsKamstra opened #287 "https://haxe.org/search/ is not working"
search stopped working?

https://haxe.org/search/

[code]

[2017-12-08 09:16] MatthijsKamstra commented on #287
![screen shot 2017-12-08 at 10 13 55](https://user-images.githubusercontent.com/907219/33758961-c28d85b4-dc00-11e7-8834-9fb71570bc13.png)

[2017-12-08 09:56] markknol commented on #287
Related to https://github.com/HaxeFoundation/haxe.org/issues/249

[2017-12-08 10:02] MatthijsKamstra commented on #249
damn... I reported this twice (sorry @markknol )

[2017-12-08 12:27] MatthijsKamstra opened #288 "navigation update community"
google groups are now http://community.haxe.org/

![screen shot 2017-12-08 at 13 26 32](https://user-images.githubusercontent.com/907219/33765940-872a67ce-dc1b-11e7-97dc-186466d39498.png)

[2017-12-08 20:54] markknol commented on #249
If you feel adventurous, please PR :)

[2017-12-09 12:28] MatthijsKamstra commented on #249
it doesn't look that complicated (https://developers.google.com/custom-search/docs/element).
But what I posted here, it looks like you need to pay for it?

So that might be a little problem, not that difficult, but probably you need to use HaxeFoundation money for that.

And in the past I tried to build the Haxe website and failed miserably.

[2017-12-17 11:05] ibilon commented on #288
Progress:

* [X] haxe.org
* [X] hashlink.haxe.org
* [X] haxedevelop.org
* [X] code.haxe.org
* [ ] lib.haxe.org
* [ ] try.haxe.org
* [ ] api.haxe.org

[2017-12-18 14:24] markknol commented on #288
This is done now, the new forum + gittr is in there.

api.haxe, lib.haxe and try.haxe sites are in the "learn" menu. There is no need to put haxedevelop and hashlink in the menu.

[2017-12-18 14:45] #285 closed

[2017-12-18 14:48] markknol commented on #248
Ill close this for now, since I don't think it is worth the effort.

[2017-12-18 14:48] #248 closed

[2017-12-18 14:48] markknol commented on #233
@andyli Can we redirect invalid domains to haxe.org?

[2017-12-18 15:33] ibilon commented on #288
I meant which site has the new links, not which one should be in the menu ;)

[2017-12-18 15:56] markknol commented on #288
try.haxe https://github.com/clemos/try-haxe/pull/142
api.haxe https://github.com/HaxeFoundation/api.haxe.org/pull/1

[2017-12-22 08:18] zabojad opened #290 "No 404 page on wrong subdomain ?"
If I mistype `http://hapi.haxe.org/`, I get:

<img width="725" alt="screen shot 2017-12-22 at 09 15 59" src="https://user-images.githubusercontent.com/1238030/34290624-c72db352-e6f8-11e7-83c5-7c9f8ed00f86.png">

It would look better with some customized page like on other websites:

<img width="1051" alt="screen shot 2017-12-22 at 09 17 39" src="https://user-images.githubusercontent.com/1238030/34

[2017-12-22 08:55] markknol commented on #290
@andyli can we redirect all 404's to haxe.org?

[2017-12-22 08:56] ibilon commented on #290
Duplicate of https://github.com/HaxeFoundation/haxe.org/issues/233

[2017-12-22 08:56] #290 closed

[2017-12-22 09:07] andyli commented on #233
I've just deleted the `*.haxe.org` DNS record, so they wouldn't work anymore.
Hopefully there is no secrete website that relies on it...

[2017-12-22 09:07] #233 closed

[2017-12-22 09:11] markknol commented on #279
![image](https://user-images.githubusercontent.com/576184/34292244-68fc775c-e700-11e7-99a1-0769d8a0132d.png)

[2017-12-22 09:11] #279 closed

[2017-12-22 09:12] markknol commented on #287
Ill close this one

[2017-12-22 09:12] #287 closed

[2017-12-22 09:13] markknol commented on #233
Thanks!

[2017-12-22 09:17] MatthijsKamstra commented on #287
yes, the other covers it all

[2017-12-22 09:45] #249 closed

[2017-12-22 09:45] markknol commented on #249
I added new search api, wasnt that hard at all. Thanks Google!

[2018-01-05 09:04] markknol commented on #233
@andyli  http://blog.haxe.org/ did redirect to http://haxe.org/blog, can we get this back?

[2018-01-05 09:06] markknol commented on #245
Ill close this since we kinda have a plan for the new homepage. Ill definitely take your words in account.
https://github.com/HaxeFoundation/haxe.org/issues/273

[2018-01-05 09:06] #245 closed

[2018-01-05 09:07] markknol commented on #75
I hope this is done, otherwise feel free to reopen.

[2018-01-05 09:09] markknol commented on #177
I think this is done now too, most sites are https 🎉 Lets open new tickets if there is something else to do.

[2018-01-05 09:09] #177 closed

[2018-01-05 09:26] andyli commented on #233
Done :)

[2018-01-05 11:17] markknol commented on #274
Ill close this issue for now. Feel free to bring more ideas.

[2018-01-05 11:17] #274 closed

[2018-01-06 22:43] dagnelies commented on #273
Hi,

IMHO the current front page is content-wise still way worse than the site in the old days. If it was me, I'd just put back the old site. I found it superior in many ways because you basically found what you looked for.

The central question for the front page should be "what is haxe?" and "why should you use it?". IMHO the current frontpage fails to deliver on both, while the old site did it

[2018-01-07 10:24] markknol commented on #273
Hi, thanks for your feedback. This issue is there because we work on a new frontpage.

[2018-01-12 11:39] elsassph opened #292 "Haxe Summit videos valorisation?"
I was checking some videos from last Haxe Summit and I'm a bit underwhelmed by the number of views, and the fact that the foundation didn't even blog about their availability.

A huge amount of effort goes into these conferences, for a relatively small number of people, and absolutely nothing seems to be done to value this effort after the event.

Facebook has a whole section of their developer we

[2018-01-12 12:41] markknol commented on #292
That is actually a good point!
We could setup something like this (quickly created in devtools)

![image](https://user-images.githubusercontent.com/576184/34875621-55dfa596-f79e-11e7-8295-4794792b41a1.png)

![image](https://user-images.githubusercontent.com/576184/34875605-43ba7256-f79e-11e7-8647-05abf6e01627.png)

[2018-01-12 17:08] elsassph commented on #292
Looks good, though each video needs a title and description.

It's important to curate and avoid outdated material.

[2018-01-26 22:14] fullofcaffeine opened #293 "Community forum is offline"
As of this writing, I can't access it and `traceroute` returns `Unknown host`.

[2018-01-27 11:53] ibilon commented on #293
We've had hosting issues.
So now community.haxe.org points to the new host (may need to wait for dns propagation), but we still need to finish the migration, so there's no content yet.

[2018-01-28 18:36] markknol commented on #293
Whats the status now?

[2018-01-28 19:05] fullofcaffeine commented on #293
Still down:
https://www.dropbox.com/s/lu5u2jy8i8iyfgf/Screenshot%202018-01-28%2013.05.37.png?dl=0

On Sun, Jan 28, 2018 at 12:36 PM, Mark Knol <notifications@github.com>
wrote:

[2018-01-29 10:35] markknol commented on #293
Yes I can see myself that it is down :)

I was mostly wondering about the server/mirgation part.

[2018-01-29 20:34] ibilon commented on #293
Everything should be working now.

[2018-01-29 20:34] #293 closed

[2018-02-05 03:31] intoxopox opened #295 "serialization/format page missing"
http://haxe.org/manual/serialization/format is not available.

[2018-02-05 05:49] #295 closed

[2018-02-05 05:50] intoxopox commented on #295
Correct page is here: http://haxe.org/manual/std-serialization-format.html

[2018-02-05 09:04] markknol commented on #295
Where did you find this link?

[2018-02-05 16:27] intoxopox commented on #295
I think I posted the issue on the wrong repo. Meant to post it on api.haxe.org. On https://api.haxe.org/haxe/Serializer.html, there is an incorrect link to the serialization format specification that points to https://haxe.org/manual/serialization/format. It should point to https://haxe.org/manual/std-serialization-format.html. The same incorrect link is also on https://api.haxe.org/haxe/Unseriali

[2018-02-05 16:45] markknol commented on #295
Thanks! I've updated the link in the API documentation and added a redirect to make it work on older api pages online.

[2018-02-07 14:47] markknol commented on #288
Only lib.haxe PR needs to be updated, then its done.

[2018-02-08 09:43] markknol commented on #288
Lib.haxe is merged too, will be live soon. All sites are done now.

[2018-02-08 09:43] #288 closed

[2018-02-08 09:44] markknol commented on #281
This is done 👍 works great

[2018-02-08 09:44] #281 closed

[2018-02-12 15:49] markknol opened #297 "Add link to merchandise shop"
* [ ] Make shop.haxe.org and redirect to https://shop.spreadshirt.nl/haxe/
* [ ] Make shop look more Haxe branded
* [ ] Add link to shop somewhere on website

[2018-02-12 17:03] markknol commented on #297
@andyli can add this subdomain + make this redirection

[2018-02-13 01:45] andyli commented on #297
@damoebius Does spreadshirt support CNAME? It should have mentioned something about how to use a custom domain. Doing redirection doesn't look as good.

[2018-02-13 09:10] damoebius commented on #297
https://www.spreadshirt.com/blog/2007/02/16/domain-name-tutorial/
could be shop.haxe.org

[2018-02-13 09:19] andyli commented on #297
I also found the link you mentioned, but that just suggests using redirection (in 2 different ways). If custom domain is properly supported by spreadshirt, there should be some setting and instruction in the setting page (where you configure the shop name, the display currency etc).

[2018-02-13 09:35] andyli commented on #297
I've just registered an account. Looks like it doesn't support custom domain, but just web embedding. That is, we create a webpage, then use its JS code to embed the shop into the webpage.

The embed setting can be found at "sales channels" -> shop settings (the "edit" button) -> "advanced settings" -> "embed shop in website".

[2018-02-13 13:08] damoebius commented on #297
Well, this is a thing i suggested. We can add an entry menu on haxe.org and embed the shop in a new page.

[2018-02-14 10:40] damoebius commented on #297
@andyli @markknol ok to embed the shop in haxe.org ?

[2018-02-14 11:00] markknol commented on #297
Yeah I'm fine with that.
I tried the snippet on its own, but doesnt seem to do much: http://haxe.stroep.nl/shop

[2018-02-14 12:13] damoebius commented on #297
It's work : https://codepen.io/damoebius/pen/NyvmZe?editors=1010

[2018-02-14 13:05] andyli commented on #297
I guess you don't need my help on dns. Please go ahead.

[2018-02-16 09:03] MatthijsKamstra opened #299 "community logo 1 px off"
I am not sure if this is the correct place to mention this.

<img width="358" alt="screen shot 2018-02-16 at 09 55 48" src="https://user-images.githubusercontent.com/907219/36300043-ed1f4ed0-12ff-11e8-9f5b-683a08fd4bd7.png">

as you can see the image is 1px off on Google Chrome osx

this is absolutely not a better solution (change `line-height: 22px;` into `21px`)

[code]

but it does fix it quick

[2018-02-16 13:19] ibilon commented on #299
Should be good now.

[2018-02-16 15:10] MatthijsKamstra commented on #299
and it is beautiful !!

[2018-02-16 15:12] #299 closed

[2018-02-19 16:05] damoebius commented on #297
Requirements :
[x] Display US Shop in English and $
[x] Display EU Shop in English and €
[x] Display Shop selection popin
[x] Remenber country choice
[x] Mobile Display support

Optionnals :
[ ] Add Shop selection buttons to switch

[2018-02-23 16:39] kevinresol opened #305 "David is COO"
Didn't know until reading https://summit.haxe.org/us/2018/#speaker-david

Should add to the website: https://haxe.org/foundation/people.html

Also I think the HF should announce it. (Maybe a short blog / a tweet)

[2018-02-24 15:47] ncannasse opened #306 "New partner"
Blue Mammoth Games is a new HF Supporter, here's the logo to add with link http://www.bluemammoth.com/

![bmglogosimple](https://user-images.githubusercontent.com/1022912/36632111-5f6c7d7c-1982-11e8-811c-aa3384bd7588.png)

[2018-02-24 16:00] ncannasse opened #307 "Typo"
This was reported to me by email:

[2018-02-24 18:33] #306 closed

[2018-02-24 18:33] #307 closed

[2018-02-25 20:00] nadako commented on #306
What would be super-awesome is a couple words about how our partners use/are planning to use Haxe. I.e. for me as a contributor this would be motivational

[2018-02-26 14:32] ncannasse commented on #306
That's something our upcoming marketing manager will be doing I guess ;)

On Sun, Feb 25, 2018 at 9:00 PM, Dan Korostelev <notifications@github.com>
wrote:

[2018-03-02 12:15] #292 closed

[2018-03-05 23:05] markknol commented on #297
Shop is live

[2018-03-05 23:05] #297 closed

[2018-03-22 03:22] jerryboy4luv opened #311 "Promotion Approval"
We are a team of digital marketers and we have been given tasks to promote and market remarkable open source projects on social media. We find your project (HAXE) very remarkable and exceptional, and we would love to know if you want it to be promoted to several people in different parts of the world through social media.

We need your permission to promote this project by making a public post on

[2018-04-01 00:58] gizzygazzy360 opened #312 "haxelib thing doesnt actually exist"
the haxelib page isnt there

[2018-04-01 08:52] ibilon commented on #312
There is a link in `Learn Haxe > Haxelib` and https://lib.haxe.org/ loads.

What exactly do you mean by it isn't there?

[2018-04-04 22:33] markknol opened #313 "Pocket Kingdom"
Pocket Kingdom should also be listed on games usecase page.
It is a nice polished game, published on steam.

Got approval by author already.

[2018-04-04 22:45] nadako commented on #313
@yanrishatum

[2018-04-05 08:47] #313 closed

[2018-04-09 08:10] markknol opened #315 "Code Highlighting edgecases"
* [x] XML also gets highlighted as if it is Haxe code.  https://haxe.org/manual/cr-completion-field-access.html
* [x] Homepage doesn't have highlighting anymore
* [x] Changelog doesnt have highlighting anymore https://haxe.org/download/version/4.0.0-preview.3/
* [x] We can remove old styles related to the highlighting
* [x] I know this is personal, but I dislike this gold/brownish color, can we ch

[2018-04-09 09:41] markknol commented on #315
Ill change the colorscheme on VSCode buildin theme and come back to you 😛

[2018-04-09 13:01] ibilon commented on #315
All done.

For the XML, it is correctly highlighted, the issue is that the manual sets all code blocks as haxe code.
I'll fix that.

Still missing js and shell grammars, maybe a couple others for the manual.

[2018-04-10 10:15] ibilon commented on #315
Blocks now have their correct language with https://github.com/HaxeFoundation/HaxeManual/commit/29133cc9816ca6e63da4e11e99a79856aecd1be5.

Grammars missing:
* js
* sh
* as3
* cpp

[2018-04-10 10:17] markknol commented on #315
That's a nice solution for the haxe manual!

[2018-04-10 14:10] #312 closed

[2018-04-10 14:24] #61 closed

[2018-04-10 15:34] #315 closed

[2018-05-25 22:50] jcward opened #322 "API docs pages are super-wide due to white-space:nowrap"
On the API docs there's a (new?) span at the top -- `label-meta-headerClassCode`

(huh, img won't paste here? guthub broken? :stuck_out_tongue:)

Screenshot: first image at https://imgur.com/a/GRUYHyb

You'll also noitice that the page horizontal scroller indicates the page is probably ~5000px wide.

I'm not sure what the intended behavior is / was, but that purple span has a `white-space:nowrap`

[2018-05-25 23:37] Gama11 commented on #322
Dox hides some metadata via a blacklist (thoes metas which are just implementation details like this one), but it's just not the right approach IMO.. some things like this are always gonna slip through. And even the list was complete, new meta will be added. I think a whitelist would be better / safer (cc @markknol).

[2018-05-30 16:54] jcward opened #324 "Donations page issues from 768px to 1199px"
Re: https://haxe.org/foundation/donate.html

The header wraps at 1199px and intersects the content:

![selection_999 2407](https://user-images.githubusercontent.com/2192439/40735049-65fba9c8-63f7-11e8-872e-b2304df15564.png)

And at 980px, the header shrinks, but the content still intersects:

![selection_999 2408](https://user-images.githubusercontent.com/2192439/40735109-88e263a0-63f7-11e8-84b5-9

[2018-06-04 06:52] sonygod commented on #75
hello ,it's seem no Centos 7 platform  guide  for install?

[2018-06-07 12:22] pypmannetjies opened #327 "Unclear instructions for manual installation"
I want to install Haxe from the Linux binaries distributed here: https://haxe.org/download/

So far the steps I have followed are:

# Download and extract the tar.gz file
# Add extracted folder to path
# Install neko
# Export the HAXE_STD_PATH environment variable
...?

None of this is documented anywhere and has led to a lot of trial and error. The official process should be provided somewhere fo

[2018-06-14 08:13] ncannasse opened #331 "Unreference old.haxe.org"
Something for some searches Google is still giving me old.haxe.org as top search result. Maybe we should add some kind of robots.txt to unreference it ? not sure what's the right technical way to do it.
We might still want to keep the website online, although it's rarely used.

[2018-06-14 10:17] Merelleya commented on #331
You can set the robots meta tag to noindex. That will remove the pages from
the search results.

If there are newer versions of the pages, you could map those and use the
attribute canonical to indicate that the old page is a duplicate. This
would require more detailed looking into it, though.

On Thu, 14 Jun 2018, 10:13 Nicolas Cannasse, <notifications@github.com>
wrote:

[2018-06-14 11:06] Simn commented on #331
IMO the fix here should be to make sure all the content from old.haxe is also available on current.haxe. It also prioritizes correctly, there are just some things missing.

[2018-06-25 21:51] caspervonb opened #333 "Markdown tables are squashed"
[The table on this page](https://haxe.org/documentation/introduction/compiler-targets.html) was probably intended to be full width, I have a vague memory of a few more but that's the one I could find now.

![screenshot from 2018-06-26 05-33-09](https://user-images.githubusercontent.com/157787/41877046-78a7604c-7902-11e8-96cc-2c110529a814.png)

[2018-06-26 07:48] #333 closed

[2018-06-26 08:04] markknol commented on #333
Thanks for reporting!

[2018-06-26 08:18] #324 closed

[2018-06-27 12:01] shyamkumar123 opened #334 "curd application using haxe"
This is not an issue with the haxe website. I'm not even sure what is being asked. If you'd like to know how to make a crud application with Haxe then the forums would be a better place to ask for help.

[2018-06-27 12:02] shyamkumar123 commented on #334
please give me solution on that ASAP.

[2018-06-27 12:08] #334 closed

[2018-06-27 12:30] shyamkumar123 commented on #334
Could u please suggest me how to develop curd app using haxe

On Wed, Jun 27, 2018, 5:38 PM Phil Chertok <notifications@github.com> wrote:

[2018-06-27 15:06] markknol commented on #334
Please use community.haxe.org

[2018-06-29 07:17] pypmannetjies commented on #327
No the instructions are just how to install it from package managers such as apt. We need instructions when those aren't an option.

[2018-06-29 08:34] andyli commented on #327
It will be more reliable to build from source: https://github.com/HaxeFoundation/haxe/blob/development/extra/BUILDING.md, just check out the right tag (with submodules) before building.

To use the prebuild binaries, install Neko, place the Haxe executable files in `/usr/local/bin`, the Haxe `std` folder in `/usr/local/share/haxe`.

Leaving this open until I actually document the prebuild binaries

[2018-07-22 13:56] Gama11 opened #338 "Add HashLink to the frontpage target list"
...now that it has a logo.

![](https://i.imgur.com/1foPttD.png)

@markknol

[2018-07-22 15:09] ibilon commented on #338
I wanted to do it, but realized I had no idea how to make the hashlink logo work with only one color,
so I'll let mark do it :D

[2018-07-24 09:53] #338 closed

[2018-07-24 14:24] Gama11 opened #339 "community.haxe.org favicon has a different size"
This looks a bit odd in my bookmarks. ;)

![](https://i.imgur.com/anwb6d6.png)

[2018-07-24 14:31] Simn commented on #339
I agree we need a bigger community.

[2018-07-24 14:36] ibilon commented on #339
Changed it, did it work?

[2018-07-24 14:37] Gama11 commented on #339
Yep, thanks. 👍

[2018-07-24 14:37] #339 closed

[2018-07-30 07:24] mogwaipoet opened #340 "Can't read about reflection"

[2018-07-30 07:36] ibilon commented on #340
What is the issue exactly?
There is a page about reflection in the manual https://haxe.org/manual/std-reflection.html

[2018-07-30 07:50] mogwaipoet commented on #340
Sorry about the confusion, I thought more information was automatically included in the issue.

Would it be possible to set up a redirect from https://haxe.org/api/reflect? There are external links pointing to it.

[2018-07-30 08:12] #340 closed

[2018-07-30 08:13] markknol commented on #340
I've updated. Can you link me to the source of that article?

[2018-07-30 08:33] ibilon commented on #340
When you do a search for `site:old.haxe.org` on google you'll find loads of those urls, which have potentially website linking to them.

[2018-07-30 08:38] markknol commented on #305
There was some discussion about it at some point, but ended up not being the case. So there is nothing to announce here.

[2018-07-30 08:38] #305 closed

[2018-07-30 08:40] markknol commented on #340
yeah I picked some of them: reflect,array,date,sys,type,map,int,math,dynamic,enum,float,class,xml
If anyone wants to spend more time on this, be my guest 👍

[2018-07-30 09:52] markknol commented on #331
@ncannasse can you give examples when old.haxe appears?

I agree with Simn, all relevant content should be in new docs.  I'm not sure what's missing. Some old stuff might be still relevant for Haxe 2 users (like this one http://old.haxe.org/manual/haxe3/migration), removing from search engine would make it harder for people to look that up.

[2018-07-30 10:35] Merelleya commented on #331
I agree, all the relevant content should be moved.

However, the duplicate stuff should then be de-indexed and/or removed both
for ranking purposes and clarity. The "some old stuff" should be looked at
and it should be decided if it is to be kept or delted. If it is to be
kept, it should be moved somewhere sensible.

It is a lot of work, but tidying up has to be done ^-^.

On Mon, 30 Jul 2018 at 1

[2018-08-08 07:28] uvtc opened #341 "broken link on Use Cases > desktop for HaxeUI getting started"
On <https://haxe.org/use-cases/desktop/> the link to the Article "Getting started with HaxeUI." appears to no longer work. I just get a "Cannot GET /getting_started.jsp" blank page.

[2018-08-08 07:32] uvtc commented on #341
I don't know what the correct link should be. In fact, I can't find a getting-started or tutorial doc anywhere on the haxeui site.

[2018-08-08 08:28] andyli commented on #341
@ianharrigan Do you have an updated getting started page?

[2018-08-08 09:14] #341 closed

[2018-08-08 10:50] ianharrigan commented on #341
Hi,

There is this: http://haxeui.org/guide/start.html, but its incomplete. I wonder if it just makes more sense to link to the main page for now?

Cheers,
Ian

[2018-08-08 13:15] markknol commented on #341
@ianharrigan Why isn't this page/guide linked on your homepage? Can't find any links to that?

[2018-08-09 20:07] uvtc opened #342 "Use case games page, Flambe"
On the [Use case :: games page](https://haxe.org/use-cases/games/) it mentions Flambe as an option, but I noticed [this Flambe issue](https://github.com/aduros/flambe/issues/374) which indicates it's no longer maintained (and there hasn't been any commits to its master since 2015).

Sounds like Flambe should no longer be listed on that Use Case Games page.

[2018-08-09 21:03] ibilon commented on #342
There was some discussion about this before https://github.com/HaxeFoundation/haxe.org/issues/222#issuecomment-261710337 and I think @markknol was right, it's not because it's not maintained that it doesn't work.

[2018-08-09 21:46] Gama11 commented on #342
Well... it might work, but not with current versions of Haxe. In fact, at this point, not even outdated versions of Haxe... (according to the issue tracker there are problems even with 3.2)

[2018-08-31 07:10] uvtc commented on #273
Not sure this is relevant to this particular issue, but I wanted to comment on one specific aspect of the front page content: why does it refer to Haxe as a "toolkit" rather than a programming language? This is one thing that threw me the first time I ran across Haxe. I wasn't sure what it was. "Toolkit" here doesn't seem to me to be common terminology.

When I hear the word "toolkit" I think of t

[2018-09-20 13:49] flashultra opened #343 "lib.haxe.org weekly downloads ?"
At the moment is available stats base on version  and include all downloads for that version ( at example  https://lib.haxe.org/p/haxe-crypto/versions/ )
 Is it possible to be added weekly download statistics similar at  npmjs ?
Example: https://www.npmjs.com/package/crypto-js

[2018-09-21 07:14] markknol commented on #343
No, this is at the moment not possible. How it works afaik is that we increase the download counter per version on each install and that's all information we have. We don't store specific date related install statistics.

[2018-09-21 09:43] flashultra commented on #343
Also stats here https://lib.haxe.org/p/haxe-crypto/versions/  looks a little bit strange
Dates are 2016/03 to  2016/12 , but last red dot ( version ) is somewhere in 2017 ( v. 0.0.7  - 1 year ago )
and have 51127 downloads.
Looks like a bug.

[2018-09-21 11:05] markknol commented on #343
Hm I see what you mean, the last dot/latest release should be at current date.

[2018-09-21 12:27] ibilon commented on #331
Sorry meant to close https://github.com/HaxeFoundation/HaxeManual/issues/331

[2018-09-28 16:50] uvtc opened #344 "More details for language intro page"
I think the [language introduction](https://haxe.org/documentation/introduction/language-introduction.html) could use more language details, maybe a bullet list, to quickly give the reader a better idea of what kind of language Haxe is.

Currently it says that it's

  * modern,
  * very high-level,
  * strictly typed, and
  * easy to learn.

What else can we add to expand that? How about:

  * gen

[2018-09-28 19:37] uvtc commented on #344
Hi Mark. You're welcome, but maybe I wasn't clear: I'd like to create a PR, but wanted to first confirm that the points I wrote above are correct, and also ask if anyone had any additional ones to add or clarifications to make. I don't yet know Haxe very well at all, certainly not well enough to write the bullet list myself without input. :)

[2018-09-28 19:41] uvtc commented on #344
I think the language intro is the right place to give prospective new users a 10-thousand-meter overview of what the Haxe language is all about. Provide a context for moving forward.

[2018-09-28 23:33] uvtc commented on #344
Took a shot at it with PR #345 .

[2018-10-03 10:42] ladigitale opened #346 "Mobile showcase suggestion"

[2018-10-03 10:42] markknol commented on #346
What is the suggestion?

[2018-10-03 10:47] ladigitale commented on #346
Sorry for the bad handling of the keyboard.
I thought the focus was on another window.
I opened this one to see how you manage the proposals

[2018-10-03 10:50] markknol commented on #346
Well if there is a nice mobile showcase that represents Haxe at its best, most suggestions are welcome. Let me know if you have one.

[2018-10-05 05:04] uvtc opened #347 "Area for menagerie of getting-started tutorials?"
I think it would be very useful to start a collection of short target-specific getting-started tutorials that could be linked to from under the "Learn Haxe" heading at haxe.org . One directory (and possibly one markdown file) per tutorial --- a directory, since into which you might need a place for screenshot images if present.

I'm thinking specifically about three types of tutorials:

 1. how to

[2018-10-05 12:09] ncannasse commented on #347
I think that would be extremely valuable. I'm all for more documentation on how to integrate and better interact (call-in/out) between Haxe and native platforms.

Also, writing these examples we might found that the current ways to interact with the native platform on some target could be improved with some additional compiler support.

[2018-10-09 16:18] uvtc commented on #347
Ok. I'll start doing some explorations and writing some docs and see how what I get. Thanks.

[2018-10-09 16:18] #347 closed

[2018-10-10 20:43] uvtc commented on #347
Created https://github.com/uvtc/haxe-getting-started-tutorials

[2018-10-23 12:46] markknol opened #349 "cpp docs"
Hey we have to look into this:

https://staging.haxe.org/manual/target-cpp.html

* [ ]  [The overview](https://staging.haxe.org/manual/target-cpp.html) doesn't list the new docs
* [ ] The subpages don't have the section number, but they seem to use the first word (sometimes without the last letter).
* [ ] https://staging.haxe.org/manual/hxcpp/docs/build_xml/Defines.html table layout is pretty mess

[2018-10-25 11:44] bubblebenj commented on #331
Maybe it could be possible to add a note to every page of old.haxe.org saying something like:
"If not haxe 2 related, this content should be available on the current haxe site.
If not then please fill an issue in the haxe.org github https://github.com/HaxeFoundation/haxe.org/issues/ or better propose a pull request to add it".

[2018-10-25 16:28] flashultra commented on #343
@andyli  Do you think is useful to have weekly download statistics for lib.haxe.org ? ( similar to npmjs )

[2018-10-25 16:30] andyli commented on #343
I think so. PR welcome :)

[2018-10-25 18:30] flashultra commented on #343
Where I can find information about Version.manager in Repo.hx ( haxelib) ?
Obviously information for downloads  came from :
  allVersions: info.versions,  where  var info = new Repo().infos(projectName); and in Repo.hx had
var vl = Version.manager.search($project == p.id); and downloads : v.downloads,
but I can't see Version.manager

[2018-10-26 01:47] andyli commented on #343
It's a [record-macros](https://github.com/HaxeFoundation/record-macros) (previously [spod](http://old.haxe.org/manual/spod)) thing.

[2018-11-10 20:49] EricBishton opened #350 "Set the initial focus on the search page to the text entry field."
Can we please have the focus placed in the search field, so we can just type the search parameters instead of having to click on the field before we start typing?

Tab isn't a solution, either, since there are so many links on the page to tab through before the search field gets focus.

[2018-11-12 09:00] #350 closed

[2018-11-19 13:36] #346 closed

[2018-11-26 08:53] ncannasse opened #351 "Broken Link"
On https://haxe.org/use-cases/cross-platform-apis/
the link to "Nape Physics Engine" no longer links to that engine, but rather
a site for SEO for lawyers.

[2018-12-13 15:37] deepnight opened #393 "Haxelib run scripts: missing "cwd" document from the old doc"
In the old haxe docs, there was this paragraph:

**Getting the directory of haxelib being called**
``
When run.n is called from haxelib, the current working directory will be set to the library directory (eg. /usr/lib/haxe/lib/somelib/1,0/). The directory of haxelib being called will instead be passed as an extra argument, put at the end of the argument array.
``

**Source:** http://old.haxe.org/d

[2019-01-16 13:03] ncannasse opened #354 "Partners"
Here's some changes for the partners list:

* [x] please move Motion-Twin from Strategic to Supporters
* [x] please added Spiele Palast (logo below) as Strategic Partner -- https://www.spiele-palast.de/
* [x] please rename "Strategic" Partners category to "Enterprise" Partners (new keyword for supports plans)

Thank you :)

![logo_spiele-palast_600x200](https://user-images.githubusercontent.com/10

[2019-01-17 12:47] ibilon commented on #354
Should `Haxe Foundation Supporters` be changed to `Professional Partners` or is that something different?

[2019-01-17 19:47] ncannasse commented on #354
@ibilon yes please

[2019-01-17 22:03] #354 closed

[2019-01-26 17:05] TheJaredWilcurt opened #356 "Node-Webkit -> NW.js"
Node-Webkit was rebranded to NW.js several years ago. It has also since undergone some architectural changes that affected the API.

If Haxe has not updated it's NW.js integration since the days of Node-Webkit, then it will be pretty out of date. These API changes are documented here:

* http://docs.nwjs.io/en/latest/For%20Users/Migration/From%200.12%20to%200.13/

[2019-01-29 09:37] #356 closed

[2019-01-29 09:38] markknol commented on #356
Thanks for letting know. I'm not sure how accurate the definition files/extern library is, but at least I changed the name on the website.

[2019-01-29 10:17] Gama11 commented on #356
Hm, considering it was last updated 4 years ago... :)

[2019-02-12 07:28] andyli opened #358 "Links in the utteranc.es comment section not working"
e.g. When I click on a link in the comment in https://haxe.org/manual/compiler-usage-hxml.html, the page is opened in the iframe (_self). It probably should be opened in a new tab (_blank).

@markknol Any idea of how to fix it? May have to ask the utteranc.es people.

[2019-02-13 05:40] #358 closed

[2019-03-04 17:04] Simn opened #363 "OS X build instructions"
I just tried following the OS X build instructions here: https://haxe.org/documentation/introduction/building-haxe.html

They seem to be a bit outdated because they don't mention our opam dependencies at all, leading to errors about ocamlfind when trying to `make` stuff.

[2019-03-05 06:44] andyli commented on #363
The updated instruction is in https://github.com/HaxeFoundation/haxe/blob/development/extra/BUILDING.md. We should just update the page and point ppl to read `extra/BUILDING.md`.

The reason of having the instruction in the source folder is that the instruction changes version by version.

Also, it's better to have the instruction included with the source. Think what if buying a box of LEGO and it

[2019-03-05 07:07] Simn commented on #363
Makes sense to me!

[2019-03-26 11:51] robinrodricks opened #376 "Linking to platform guides from the homepage"
Hello Haxe community!

As some of you know we now have per-platform installation guides for (somewhat) every platform Haxe supports.

- [C#](https://staging.haxe.org/documentation/platforms/csharp.html)
- [PHP](https://staging.haxe.org/documentation/platforms/php.html )
- [Java](https://staging.haxe.org/documentation/platforms/java.html)
- [Python](https://staging.haxe.org/documentation/platforms/

[2019-03-26 12:27] markknol commented on #376
I would prefer to have all targets in there too before linking them (JavaScript / HashLink / C++ …).

Then we should incorporate it here somewhere: https://haxe.org/documentation/introduction/

[2019-03-27 12:45] uvtc commented on #376
Looks like I commented on the PR #377 rather than this issue, but I suggest creating a small install page on haxe.org containing some short instructions regarding grabbing the package for your OS from the Downloads page and installing in the usual manner for that OS, but *also* containing a matrix or list of links to these cool setup guides.

I think a prospective new Haxe user looking to install

[2019-03-27 13:07] uvtc commented on #376
@markknol Looking at [the Haxe intro](https://haxe.org/documentation/introduction/) now, I'm surprised there's not already a link to "installing" there (above "Building from source"); I think a new user reading the intro is very likely to also want info on installing and setup.

[2019-03-28 05:26] robinrodricks commented on #376
@uvtc
Assuming this workflow:

1. Someone is interested and gets eventually carried off to the haxe download page
2. He downloads a specific version of haxe corresponding to his platform
3. He gets taken to the "thank you for downloading haxe" page
4. At this point he could presumably use some platform-specific setup instructions

Thus I modified my PR to include some changes to the "thanks for do